{% extends "base.html" %}
{% load i18n %}

{% block content %}


<div id="headline">Reset Password</div>
<br>

{% if form.email.errors %}
<div class="messages"><div class="error">
{% trans "The email address you entered is not registered. Please check it and retry." %}
</div></div>
{% endif %}

<form method="post" action="">{% csrf_token %}

<div id="table-wrap">
	<div id="table-left"><div id="text-right">Email:</div></div>
	<div id="table-right">{{ form.email }}</div>

<div id="table-right">
  <input type="submit" value="{% trans 'Submit' %}" />
</div>

</form>



{% endblock %}
