{% extends 'base.html' %}

{% block title %}Tissue Inventory Verification{% endblock %}


{% block content %}

	<div class='large-headline'>Tissue Inventory Verification</div>
	<div class='clearfix'>
		{% if requests.count > 0 or requestless_count > 0 %}
			<table class="common_center" cellpadding='4' cellspacing='2'>
				<tr>
					<th>Request</th>
					<th>User</th>
					<th>Cohort</th>
					<th>Date Placed</th>
					<th>Status</th>

				</tr>

				{% for req in requests %}
					<tr>
						<td><a href={% url order-detail req.pk %}>{{ req.pk }}</a></td>
						<td>{{ req.user }}</td>
						<td>{{ req.cohort }}</td>
						<td>{{ req.req_request_date|date:"m/d/Y" }}</td>
						<td>{% if req.get_inventory_verification_status == 'CP' %}Verified{% else %}Incomplete{% endif %}</td>
						<td><a href='{% url verification-list req.req_request_id %}' class='blockLinkCheckoutButton' style='width:60px;float: right'>Verify</a></td>
						<td><a href='{% url verification-list-export req.req_request_id %}' class='blockLinkDeleteButton' style='width:100px;float: right'>Export PDF</a></td>
					</tr>
				{% endfor %}
				{% if requestless_count %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Current Inventory</td>
						<td><a href='{% url verification-list 0 %}' class='blockLinkCheckoutButton' style='width:60px;float: right'>Update</a></td>
						<td><a href='{% url verification-list-export 0 %}' class='blockLinkDeleteButton' style='width:100px;float: right'>Export PDF</a></td>
					</tr>

				{% endif %}
			</table>
		{% else %}
			<div class='messages'>
				<div class='info'>
					No tissues to verify
				</div>
			</div>
		{% endif %}
	</div>

	<br>


{% endblock %}
