{% extends "base.html" %}

{% block content %}
	<div class=large-headline>{% if monkeys %}Monkey Protein Tools: Monkeys {% for monkey in monkeys %}{{ monkey.pk }} {% endfor %}{% else %}Monkey Protein Tools:{% endif %}</div>
	{% if graphs %}
		{% for graph in graphs %}
			<div class="image_container">
				<div class="image_thumbnail left">
					<a rel="plot_gallery" href="{{ graph.image.url }}" target="_blank">
						<img src="{{ graph.thumbnail.url }}" width="240px">
					</a>
				</div>
			</div>
		{% endfor %}
		<div class=clearfix></div>
	{% endif %}
	<br>
	<form action='' method='post'>
		{% csrf_token %}
		{{ graph_form.monkeys }}
		<div class=headline>Cohort: {{ cohort }}<div class=right><a href="{% url 'tools-protein' %}"><img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>&nbsp;Choose another cohort</a></div></div>
		<div class=headline>{{ graph_form.yaxis_units.label }}</div>
		<div class=small>{{ graph_form.yaxis_units.help_text }}</div>
		{{ graph_form.yaxis_units }}
		<br><br>
		<div class=headline>{{ graph_form.data_filter.label }}</div>
		<div class=small>{{ graph_form.data_filter.help_text }}</div>
		{{ graph_form.data_filter }}
		<br><br>
		<div class=headline>{{ protein_form.proteins.label }}</div>
		<div class=small>{{ protein_form.proteins.help_text }}</div>
		{{ protein_form.proteins }}
		<br>
		<button type='submit' name='submit' class="blockLinkCheckoutButton">Submit</button>
	</form>



{% endblock %}
