{% extends 'shipping/shipping_base.html' %}

{% block title %}
	Shipping History
{% endblock %}

{% load basic_filters %}
{% block content %}
    <div>
        <div class='large-headline'>All Shipments</div>
        <center>
            {% if page_obj %}
                {% load inclusion_tags %}
                {% pagination page_obj %}
            {% endif %}
        <hr style="width:50%">
        </center>
        <table class="common_center" cellpadding='4' cellspacing='2'>
            <tr>
                <th>Shipment Details</th>
                <th>Request ID</th>
                <th>Cohort</th>
                <th>Shipment Status</th>
                <th>Shipment Built</th>
                <th>In Processing</th>
                <th>Processed</th>
                <th>Sent on</th>
            </tr>
            {% for shipment in shipments %}
                <tr>
                    <td><a href="{% url 'shipment-detail' shipment.pk %}">{{ shipment.pk }}</a></td>
                    <td><a href="{% url 'order-detail' shipment.req_request.pk %}">{{ shipment.req_request.pk }}</a></td>
                    <td><a href="{% url 'cohort-details' shipment.req_request.cohort.pk %}">{{ shipment.req_request.cohort.coh_cohort_name }}</a></td>
                    <td>{{ shipment.shp_shipment_status }}</td>
                    <td>{{ shipment.shp_created_at|date:"Y-m-d" }}</td>
                    {% if shipment.contains_genetics %}
                        <td style="background-color: {{ shipment.shp_processing|yesno_truthy:"green" }}">{{ shipment.shp_processing|date:"y-m-d" }}</td>
                        <td style="background-color: {{ shipment.shp_processed|yesno_truthy:"green" }}">{{ shipment.shp_processed|date:"y-m-d" }}</td>
                    {% else %}
                        <td>N/A</td>
                        <td>N/A</td>
                    {% endif %}
                    <td style="background-color: {{ shipment.shp_shipment_date|yesno_truthy:"green,orange" }}">{{ shipment.shp_shipment_date|date:"y-m-d" }}</td>
                </tr>
            {% endfor %}
        </table>
        <center>
            <hr style="width:50%">
            {% if page_obj %}
                {% load inclusion_tags %}
                {% pagination page_obj %}
            {% endif %}
        </center>
    </div>
{% endblock %}