{% extends 'shipping/shipping_base.html' %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
{% endblock %}

{% block content %}
	<div class="headline">{% block title %}Shipment {{ shipment.pk }}{% endblock %}</div>
    {% if perms.matrr.change_shipment or perms.matrr.ship_genetics %}
        <div class='clearfix'>
            <div class='left'>
                <a href="{% url 'shipping-overview' %}"><img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>&nbsp;Shipping Overview</a>
            </div>
        </div>
    {% endif %}
	{# show the request details here #}
	<div>
		<table class="overview center{% if shipment.shp_rush %} rush{% endif %}">
			<tr>
				<th>Request: </th>
				<td><a href='{% url 'order-detail' req_request.pk%}'>{{ req_request.pk }}</a></td>
				<th>Cohort:</th>
				<td style='min-width: 100px;'><a href='{% url 'cohort-details' req_request.cohort.coh_cohort_id %}'>{{ req_request.cohort }}</a></td>
			</tr>
            <tr>
				<th>Requesting User:</th>
				<td><a href='{% url 'account-reviewer-view' req_request.user.id %}'>{{ req_request.user }}</a></td>
				<th>Requested On:</th>
				<td>{{ req_request.req_request_date|date:"m/d/Y" }}</td>
			</tr>
			{% with account=req_request.user.account %}
				<tr>
					<th>Ship to:</th>
					<td>{{ account.act_shipping_name }}</td>
					<th>Phone</th>
					<td>{{ account.phone_number }}</td>
				</tr>
				<tr>
					<th>Address:</th>
					<td colspan="3">{{ account.act_address1 }}</td>
				</tr>
				{% if account.act_address2 %}
					<tr>
						<th></th>
						<td colspan="3">{{ account.act_address2 }}</td>
					</tr>
				{% endif %}
				<tr>
					<th></th>
					<td colspan="3">{{ account.act_city }}, {{ account.act_state }} {{ account.act_zip }} {{ account.act_country }}</td>
				</tr>
				<tr>
					<th>Request's Notes:</th>
					<td colspan='3'>{% if req_request.req_notes %}{{ req_request.req_notes }}{% else %}None{% endif %}</td>
				</tr>
				<tr>
					<th>Rush this order?</th>
					<td colspan='3'>{% if shipment.shp_rush %}YES, rush this shipment please{% else %}Na, no rush{% endif %}</td>
				</tr>
			{% endwith %}
		</table>
	</div>
	<br>
	{# show the requested tissues here and link to pages where the tissue shipments can be set up #}
	<div class='headline'>Requested Tissues</div>
	{% for tissue_request in shipment.get_tissue_requests %}
		{% if tissue_request.get_accepted %}
			{% for datum in tissue_request.get_shipment_processing_data %}
				{% if forloop.counter == 1 %}
					<div class="mini-headline">{{ datum.0 }}: {{ datum.1 }}</div>
					<div style='float:left; width: 69%; color: #4E4E4E;'>
                        Monkeys:  {% for monkey in tissue_request.accepted_monkeys.all %}{{ monkey.mky_id }}, {% endfor %}<br>
                        Notes:  {{ tissue_request.rtt_notes }}
                    </div>
				{% else %}
					<div style="float: right; max-width: 30%; color: #4E4E4E;">{{ datum.0 }}: {{ datum.1 }}</div>
					<br/>
				{% endif %}
			{% endfor %}
		{% endif %}
		<div class='clearfix'></div>
        <hr style="color: #4E4E4E;"><br>
    {% endfor %}

	<br>
	<div class=clearfix></div>
	<div class='left'>
		<a href='{% url 'shipment-manifest' shipment.pk %}' class='blockLinkButton'>Download Shipping Manifest</a>
	</div>
	<div class='right'>
		{% if shipment.needs_to_be_processed %}
            <form action='' method='post'>
                {% csrf_token %}
                <button type='submit' name='process' class="blockLinkCheckoutButton">Process Order</button>
                <br>
                Pressing button will immediately send an email to a MATRR user group, notifying them of this shipment's readiness for pickup.  You are
                free to press this button as often as you'd like ;) Each time you push the button, I store your username and the date you pushed it.  When
                you push this, I lose record of the last person who pushed it (if anyone) and when they pushed it (if ever), replacing the record with you and now.
            </form>
		{% else %}
			<div class='sufficient'>Shipment does not need processing</div>
		{% endif %}
	</div>
{% endblock %}
