{% extends 'matrr/tissue_shopping.html' %}

{% block cart %}
{% endblock %}

{% block title %}
Finalize Tissue Request
{% endblock %}

{% block content %}
{% if not cart_exists or cart_num_items == 0 %}
  <div class="messages"><div class="error">You cannot submit a tissue request with no requested tissues.</div></div>
{% else %}
<div id='large-headline'>
Finalize Tissue Request
</div>
<img style="padding: 4px 5px 4px 5px" src="{{ STATIC_URL}}/images/order_timeline_5.png" width='700' height='25'
       alt='order timeline'/>
<br/>

<div id="headline">Checkout Form</div>
<br/>

<form action='/cart/checkout/' enctype="multipart/form-data" method='POST'>
{% csrf_token %}
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}

<div>
  {% for field in form.visible_fields %}
    {% if field.html_name != "req_progress_agreement" %}
    <div class='clearfix'>
    <div style='margin:0px; padding:2px;' class='table-left'>
      <label for='{{ field.html_name }}'>{{ field.label}}</label>
    {% if field.help_text %}
      <a class='tool-tip'><img src='{{ STATIC_URL }}images/help-12.png'/><span>{{ field.help_text }}</span></a>
    {% endif %}
    </div><div style='margin:0px; padding:2px;' class='table-right'>{{ field }}</div>
    </div>
    {% if field.errors %}
      <div class="messages"><div class="error">
      {{ field.errors }}
      </div></div>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>

<div class="messages"><div class="forms">
  {{ form.req_progress_agreement.label }}{{ form.req_progress_agreement }}
</div></div>

<div class="messages"><div class="warning">
  Upon acceptance of tissue request, a Material Transfer Agreement will be required before tissue is released.
</div></div>

<div id="headline">Current Items in Cart</div>
<br/>
{% include 'matrr/cart/cart_items_table.html' %}

<div style='padding:3px;'>
  <button type='submit' name='submit' value='checkout'>Checkout</button>
</div>
</form>
<br><br>

{% endif %}
{% endblock %}
