<table class='cart_table'>
  <!--<tr><th>Tissue</th><th>Fix</th><th>Amount</th></tr>-->
  {% for item in cart_items %}
    <tbody>
    <tr>
      {% for datum in item.get_data %}
        <th>{{ datum.0 }}:</th><td>{{ datum.1 }}</td>
      {% endfor %}
      <td valign='center'>
        <a href='/cart/{{ item.get_type_url }}/{{item.get_id}}/'><button>Edit</button></a>
      </td>
      <td>
        <a href='/cart/{{ item.get_type_url }}/{{item.get_id}}/delete/'><button>Delete</button></a>
      </td>
    </tr>
    {% if item.has_notes %}
    <tr>
      <td align='center' colspan='6'>Notes</td>
    </tr>
    <tr>
      <td align='center' colspan='6'>{{ item.get_notes }}</td>
    </tr>
    {% endif %}
    </tbody>
  {% endfor %}
</table>