{% extends 'matrr/tissue_shopping.html' %}

{% block cart %}
{% endblock %}

{% block content %}
<div id='headline'>
Tissue Request Cart
</div>
{% if cart_exists %}
  {% if cart_num_items != 0 %}
    {% include 'matrr/cart/cart_items_table.html' %}

    <div><a href='/{% if cart.cohort.coh_upcoming %}upcoming{% else %}available{% endif %}/{{ cart.cohort.coh_cohort_id }}/tissues'>Add more tissues</a></div>
    <div style='float: left;'>
      <a href='/cart/checkout/'><button>Checkout</button></a>
    </div>
  {% else %}
    There are no items in your cart.
  {% endif %}
  <div style='float: right;'>
    <a href='/cart/delete/'><button>Delete Cart</button></a>
  </div>
{% else %}
  You have not started a cart yet.
{% endif %}
</div>
{% endblock %}
