{% extends "matrr/tissue_shopping.html" %}

{% block headline %}
  {% block title %}
{% if cart_item.get_tissue %}
  {{ cart_item.get_tissue.get_name }}
{% else %}
  Custom Tissue Request
{% endif %}
  {% endblock %}
{% endblock %}

{% block destination %}/cart/{{ cart_item.get_id }}/{% endblock %}

{% block buttons %}
<button type='submit' name='submit' value='update'>Update</button>
<button type='submit' name='submit' value='cancel'>Cancel</button>
<button type='submit' name='submit' value='delete'>Delete</button>
{% endblock %}


