{% extends 'base.html' %}

{% block title %}
	Advanced Search
{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="/static/js/toggle-visibility.js"></script>
	<script type="text/javascript" src="/static/js/advanced_search.js"></script>
	<script type='text/javascript'></script>
{% endblock %}

{% block content %}

	<div class='large-headline'>Advanced Search</div>

	<div style='margin: auto'>
		<form class=left action='' method='post' style='max-width: 25%'>
			{% csrf_token %}
				<div class=headline><a onclick="javascript:toggle_visibility('proteins');"><img src='{{ STATIC_URL }}images/expand.gif'> Proteins</a></div>
				<div id='proteins' class="hidden">
					<div class=small>Will display monkeys which exhibited at least one standard deviation from the cohort mean in any of the selected proteins.</div>
					{{ protein_form.proteins }}
				</div>
				<div class=headline><a onclick="javascript:toggle_visibility('sex');"><img src='{{ STATIC_URL }}images/expand.gif'> Sex</a></div>
				<div id='sex' class=''>
					<ul>
						<li><label for="id_sex_0"><input onclick="javascript:updateTRToShow()" type="checkbox" name=sex value=Male id="id_sex_0" /> Male</label></li>
						<li><label for="id_sex_1"><input onclick="javascript:updateTRToShow()" type="checkbox" name=sex value=Female id="id_sex_1" /> Female</label></li>
					</ul>
				</div>
				<div class=headline><a onclick="javascript:toggle_visibility('species');"><img src='{{ STATIC_URL }}images/expand.gif'>  Species</a></div>
				<div id='species' class=''>
					<ul>
						<li><label for="id_species_0"><input onclick="javascript:updateTRToShow()" type="checkbox" name="species" value="Rhesus" id="id_species_0" /> Rhesus</label></li>
						<li><label for="id_species_1"><input onclick="javascript:updateTRToShow()" type="checkbox" name="species" value="Cyno" id="id_species_1" /> Cynomolgus</label></li>
						<li><label for="id_species_2"><input onclick="javascript:updateTRToShow()" type="checkbox" name="species" value="Vervet" id="id_species_2" /> Vervet</label></li>
					</ul>
				</div>
				<div class=clearfix></div>
				<br>
		</form>
		<div class="left" style='max-width:75%'>
			<div class=clearfix></div>
			{% if num_results != None %}
				<div class='headline'>
					{{ num_results }} results.
				</div>
			{% endif %}
			<div class='margin'>
				{% if results %}
					<div class="mini-headline">Monkeys</div>
					<table class='common_center'>
						<tr>
							{% if monkey_auth %}
								<th>Real Name</th>{% endif %}
							<th>Monkey ID</th>
							<th>Cohort</th>
							<th>Sex</th>
							<th>Test Group</th>
						</tr>
						{% for monkey in results %}
							<tr id="monkey_{{ monkey.pk }}"  class="_{{ monkey.sex }}_{{ monkey.cohort.coh_species }}{% for pro in monkey.mpns %}_{{ pro }}{% endfor %} hidden">
								{% if monkey_auth %}
									<td>{{ monkey.mky_name }}</td>
								{% endif %}
								<td>
									<a href="{% url monkey-detail monkey.cohort.coh_cohort_id monkey.mky_id%}" target="_blank">
									{{ monkey.mky_id }}
									<img src="{{ STATIC_URL }}/images/arrow_popup.png" width='8' height='8' style="vertical-align: text-top">
									</a>
								</td>
								<td>
									<a href="{% url cohort-details monkey.cohort.pk %}" target='_blank'>
									{{ monkey.cohort.coh_cohort_name }}
									<img src="{{ STATIC_URL }}/images/arrow_popup.png" width='8' height='8'style="vertical-align: text-top">
									</a>
								</td>
								<td>{{ monkey.mky_gender }}</td>
								<td>
									{% if monkey.mky_drinking %}
										Ethanol
										{% else %}{% if monkey.mky_housing_control %}
											Housing Control
										{% else %}
											Control
										{% endif %}{% endif %}
								</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}