{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class='center-content'>
<div id='headline'>Account Benefits</div>

<p>Signing up for an account at MATRR is not mandatory, although it has numerous benefits.</p>
<ul>
	<li>With an account you will be able to request tissue from this resource;</li>
	<li>You will be able to conduct advanced searches or our repository to identify tissues of particular interest to your research;</li>
	<li>You will be kept up-to-date about changes made to MATRR and collaborative research opportunities</li>
</ul>

</div>

{% endblock %}
