{% extends "base.html" %}

{% block title %}
{% if cohort.coh_upcoming %}
Upcoming 
{% else %}
Available 
{% endif %}
Cohort: {{ cohort.coh_cohort_name }}
{% endblock %}


{% block content %}
<div id='large-headline'>{% if cohort.coh_upcoming %}
Upcoming 
{% else %}
Available 
{% endif %}
Cohort: {{ cohort.coh_cohort_name }}</div>
<div>
<a class='linkButton blueLinkButton' href='tissues'>Request Tissues</a>
</div>
<div>
<table>
  <tr><th>Monkey ID</th><th>Gender</th><th>Birthdate</th><th>Weight</th></tr>
  {% for monkey in cohort.monkey_set.all %}
    <tr>
      <td><a href='monkey/{{monkey.mky_id}}'>{{ monkey.mky_real_id }}</a></td>
      <td>{{ monkey.mky_gender }}</td>
      <td>{{ monkey.mky_birthdate }}</td>
      <td>{{ monkey.mky_weight }}</td>
    </tr>
  {% endfor %}
</table>
</div>
<div>
<table>
  <tr><th>Event</th><th>Date</th></tr>
  {% for event in cohort.cohort_event_set.all %}
    <tr>
      <td>{{ event.evt_name }}</td>
      <td>{{ event.evt_date }}</td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
