{% extends "base.html" %}
{% load basic_filters %}

{% block title %}
All Cohorts
{% endblock %}

{% block warning %}
	{% include 'matrr/cart/cohort_warning.html' %}
{% endblock %}

{% block content %}
	<div id="large-headline">Tissue Request</div>
	<img style="padding: 4px 5px 4px 5px" src="{{ STATIC_URL}}/images/order_timeline_1.png" width='700' height='25'
		 alt='order timeline'/>
	<div id="headline">{% block content_title %}All Cohorts{% endblock %}</div>

	{% if cohort_list %}
		{% for cohort in cohort_list.object_list %}
			<br/>
			<div class="mini-headline">{{ cohort.coh_cohort_name }}</div>
			<div class='clearfix'>
				<div class="left-content">
					<table class="common">
						<tr>
							<th>Monkey ID</th>
							{% if user_is_member_of_tech_user or user_is_member_of_uberuser or user_is_member_of_committee %}
								<th>Monkey Name</th>
							{% endif %}
							<th>Sex</th>
							<th>Assignment</th>
							<th>Birthdate</th></tr>
						{% for monkey in cohort.monkey_set.all|dictsortreversed:"mky_drinking" %}
							<tr>
								<td class='text-center-common-td'><a href='{% url monkey-detail cohort.coh_cohort_id monkey.mky_id %}'>{{ monkey.mky_real_id }}<img src="{{ STATIC_URL }}/images/arrow_popup.png" width='8' height='8' style="vertical-align: text-top"></a></td>
								{% if user_is_member_of_tech_user or user_is_member_of_uberuser or user_is_member_of_committee %}
									<td class='text-center-common-td'>{{ monkey.mky_name }}</td>
								{% endif %}
								<td class='text-center-common-td'>{{ monkey.mky_gender }}</td>
								<td class='text-center-common-td'>
									{% if monkey.mky_drinking %}
										Ethanol
										{% else %}{% if monkey.mky_housing_control %}
											Housing Control
										{% else %}
											Control
										{% endif %}{% endif %}
								</td>
								<td class='text-center-common-td'>{{ monkey.mky_birthdate|date:"m/d/Y" }}</td>

							</tr>
						{% endfor %}
					</table>
				</div>

				<div class="right-content clearfix content-padding">
					
					<a href="{% url cohort-details cohort.coh_cohort_id %}">Cohort Details</a><br/>
					<a href="{% url cohort-timeline cohort.coh_cohort_id %}">Cohort Timeline</a><br/>
					<a href="{% url cohort-publications cohort.coh_cohort_id %}">Publications</a><br/>
					<a href="{% url tissue-shop-landing cohort.coh_cohort_id %}">Request Tissue from {{ cohort.coh_cohort_name }}</a>
					{% with images=cohort.images %}
						{% if images %}
							<div class="image_container">
								<a href="{% url cohort-details cohort.coh_cohort_id %}">
									<img src="{{ images.0.thumbnail.url }}"/>
								</a>
							</div>
						{% endif %}
					{% endwith %}
				</div>
			</div>
		{% endfor %}
			<center>
				<div class="pagination">
					<span class="step-links">
						{% if cohort_list.has_previous %}
							<a href="?page={{ cohort_list.previous_page_number }}">previous</a>
						{% endif %}

						<span class="current">
					Page {{ cohort_list.number }} of {{ cohort_list.paginator.num_pages }}.
				</span>

						{% if cohort_list.has_next %}
							<a href="?page={{ cohort_list.next_page_number }}">next</a>
						{% endif %}
					</span>
				</div>
			</center>
		{% else %}
		<div class='messages clearfix'>
			<div class="info"> No cohorts found.</div>
		</div>
	{% endif %}

{% endblock %}
