{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}


{% block content %}

  <div class='large-headline'>Contact Us</div>

<br>
  <div class='headline'>Send us an Email</div>

  <div class='clearfix'>

    <div style='float: right'>
      <div style='font-size: small;'>
        For best results, please include an in-depth description of your problem or question, including a URL if appropriate, and contact information.
      </div>
    </div>

<div style='float: left'>
  <form action='' method='post'>
  {% csrf_token %}
  <table class='common'>
{{ form.as_table }}
  </table>
  <input type='submit' name='submit' class='blockLinkCheckoutButton' value='Send Message' style='float: left;'/>
  <input type='submit' name='submit' class='blockLinkDeleteButton' value='cancel' style='float: right'/>
</form>
</div>
</div>

  <br>


{% endblock %}