{% extends "base.html" %}
{% load basic_filters %}

{% block title %}
    MATRR Home
{% endblock %}

{% block content %}
    <!-- Welcome div -->
    <div class='center-content'>
        <div class='large-headline'>The Monkey Alcohol Tissue Research Resource (MATRR)</div>
        <p>
            The primary goal of this site is to build the resources of a tissue bank and associated bioinformatics to
            analyze and distribute appropriate tissue samples to the alcohol research community. This resource provides
            novel data for hypothesis testing relating the risk for and consequences of alcohol consumption and serve to
            bi-directionally bridge the gap between rodent and human studies. The basis of the MATRR is that non human
            primates, specifically monkeys, show a range of drinking excessive amounts of alcohol.
            <a href='/about'>more...</a>
        </p>
    </div>

    <!-- Left-aligned Content -->
    <div class='left-content'>
    	{% if user_is_verified %}
        <!-- Buttons div -->
        <div class='content-block-lower'>
            <div class='headline'>Request Tissues</div>
            <div class='buttons'>
                <a class="cohortButton cohortUpcoming" href='{% url upcoming %}'>Request tissues from Upcoming Cohorts</a><br>
                <a class="cohortButton cohortAvailable" href='{% url available %}'>Request tissues from Available Cohorts</a><br>
				<a class="cohortButton cohortAssay" href='{% url assay %}'>Request tissues for Assay Development</a>
            </div>
        </div>
		{% endif %}
        <!-- Links to other resources div -->
        <div class='content-block-lower'>
            <div class='headline'>Links to Other Resources</div>
            <div class='content-item'><a href='http://www.google.com/chromeframe' target='_blank'>Chrome Frame</a>:
                Using MATRR with Microsoft IE.
            </div>
            <div class='content-item'><a href='http://www.niaaa.nih.gov/Pages/default.aspx' target='_blank'>NIAAA</a>:
                National Institute on Alcohol Abuse and Alcoholism
            </div>
            <div class='content-item'><a href='http://www.ohsu.edu/xd/research/centers-institutes/onprc/'
                                         target='_blank'>ONPRC</a>: Oregon National Primate Research Center
            </div>
            <div class='content-item'><a href='http://www.wakehealth.edu/WFUPC/' target='_blank'>Wake Forest Primate
                Center</a></div>
        </div>
    </div>


    <!-- Right-aligned Content -->
    <div class='right-content'>
        <!-- Search div -->
        <div class='content-block-lower'>
            <div class='headline'>Search</div>
            <form action='/search' method='post'>
                {% csrf_token %}
                <div class='common' style='width: 100%'>{{ search_form.terms }}
                <button type='submit' name='submit' class="blockLinkCheckoutButton">Search</button>
                </div>
            </form>
        </div>

        <!-- Publications div -->
        <div class='content-block-lower'>
            <div class='headline'>Recent Publications</div>
            <ul>
                {% for pub in pub_list %}
                    <li>
                        <a href='{% url publications %}'>
                            {{ pub.title|truncatewords:5 }},
                            {% if pub.journal == 'Proceedings of the National Academy of Sciences of the United States of America' %}
                                PNAS,
                            {% else %}
                                {{ pub.journal }},
                            {% endif %}
                            {{ pub.published_year }}.
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- News/Upcoming Events div -->
        {% if event_list %}
            <div class='content-block-lower' style='padding-bottom: 20px;'>
                <div class='headline'>Upcoming Events</div>
                {% for event in event_list %}
                    <div class='content-item'>
                        <div class='mini-headline'>{{ event.name }} ({{ event.date }})</div>
                        {{ event.description }}
                    </div>
                {% endfor %}
                <div>
                    <div style='float:left;'><a href='{% url events %}'>more</a></div>
                    <div style='float:right;'><a href='{% url archived-events %}'>archived</a></div>
                </div>
            </div>
        {% endif %}
    </div>


{% endblock %}

