{% extends "base.html" %}

{% block title %}
{% if monkey.cohort.coh_upcoming %}
Upcoming 
{% else %}
Available 
{% endif %}
Cohort: {{ cohort.coh_cohort_name }}
Monkey: {{ monkey.mky_real_id }}
{% endblock %}


{% block content %}
<div id='large-headline'>{% if monkey.cohort.coh_upcoming %}
Upcoming 
{% else %}
Available 
{% endif %}
Cohort: {{ cohort.coh_cohort_name }}
Monkey: {{ monkey.mky_real_id }}
</div>
<br>
    
<table class="overview">
    <tr>
        <th>Assignment:</th><td>{% if monkey.mky_drinking %}Ethanol{% else %}Control{% endif %}</td>
    </tr>
    <tr>
        <th>Gender:</th><td>{{ monkey.mky_gender }}</td>
    </tr>
    <tr>
        <th>Birthday:</th><td>{{ monkey.mky_birthdate }}</td>
    </tr>
    <tr>
        <th>Necropsy Date:</th><td>{% if monkey.mky_necropsy_date %}{{ monkey.mky_necropsy_date }}{% else %}No Necropsy Yet{% endif %}</td>
    </tr>
    <tr>
        <th>Weight:</th><td>{{ monkey.mky_weight }}</td>
    </tr>
    <tr>
        <th>Stree Model:</th><td>{{ monkey.mky_stress_model }}</td>
    </tr>
</table>

{% endblock %}
