{% extends "base.html" %}

{% block content %}
	<div class='large-headline'>
		{% block title %}Revise Order{% endblock %}
	</div>

	<div class="messages">
		<div class="warning">Please, read the following carefully!</div>
	</div>
	<div>
		<strong>A rejected order cannot be modified.</strong> However, we can create a copy of a rejected/partially rejected order for you to edit and resubmit.
		This copied order will use a special status "Revised" and will not interfere with your cart.  Revised orders have specific restrictions, discussed below.
	</div>
	<br>
	With Revised orders:
	<ul>
		<li>you can change details of the request</li>
		<li>you can make changes to the requested tissues (monkeys, amount, units, notes etc.)</li>
		<li>you can delete requested tissues</li>
		<li>you <strong>cannot</strong> add new tissues. To request new tissues you must submit a new request.</li>
		<li>you <strong>cannot</strong> change the cohort.</li>
		<li>you <strong>cannot</strong> select monkey tissues that were accepted in partially rejected orders.</li>
	</ul>



	<div class="messages">
		Once you have finished making changes, you have to <strong>resubmit the order.</strong> A revised order is just your draft. The
		MATRR team cannot see or process the order until has been submitted.
	</div>
	<br/>

	<a href='{% url order-duplicate req_id %}' class='blockLinkCheckoutButton' style='float: left'>Create Editable Copy</a>
	<a href='{% url order-list %}' class='blockLinkDeleteButton' style='float: left'>Cancel</a>


{% endblock %}