<table class='common_center'>
  <tr>
    {% for datum in item.get_data %}
      <th>{{ datum.0 }}</th><td>{{ datum.1 }}</td>
    {% endfor %}
  </tr>
  {% if item.has_notes %}
    <tr>
      <td align='center' colspan='6'>Notes</td>
    </tr>
    <tr>
      <td align='center' colspan='6'>{{ item.get_notes }}</td>
    </tr>
  {% endif %}
</table>
<table class='monkey_table common_center'>
  {% if order.request_status|lower != 'partially accepted' %}
    <tr>
      <th colspan='6'>Monkeys</th>
    </tr>
    <tr>
    {% for monkey in item.monkeys.all %}
      {% if forloop.counter0|divisibleby:"6"%}
        </tr><tr>
      {% endif %}
      <td align='center'><a href='{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}'>{{ monkey.mky_real_id }}</a></td>
    {% endfor %}
    </tr>
  {% else %}
    {% if item.get_accepted == Acceptance.Accepted %}
      <th colspan='6' style='color: green;'>This tissue request was accepted.</th>
    {% else %}
      {% if item.get_accepted == Acceptance.Rejected %}
        <th colspan='6' style='color: red;'>This tissue request was rejected.</th>
      {% else %}
        <th colspan='6' style='color: blue;'>This tissue request was partially accepted.</th>
      {% endif %}
    {% endif %}
    {% if item.get_accepted != Acceptance.Partially_Accepted %}
      <tr>
        <th colspan='6'>Monkeys</th>
      </tr>
      <tr>
      {% for monkey in item.monkeys.all %}
        {% if forloop.counter0|divisibleby:"4" %}
          </tr><tr>
        {% endif %}
        <td align='center'><a href='{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}'>{{ monkey.mky_real_id }}</a></td>
      {% endfor %}
      </tr>
    {% else %}
      <tr>
        <th colspan='6'>Accepted Monkeys</th>
      </tr>
      <tr>
      {% for monkey in item.accepted_monkeys.all %}
        {% if forloop.counter0|divisibleby:"4" %}
          </tr><tr>
        {% endif %}
        <td align='center'><a href='{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}'>{{ monkey.mky_real_id }}</a></td>
      {% endfor %}
      </tr>
      <tr>
        <th colspan='6'>Rejected Monkeys</th>
      </tr>
      <tr>
      {% for monkey in item.get_rejected_monkeys.all %}
        {% if forloop.counter0|divisibleby:"4" %}
          </tr><tr>
        {% endif %}
        <td align='center'><a href='{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}'>{{ monkey.mky_real_id }}</a></td>
      {% endfor %}
      </tr>
    {% endif %}
  {% endif %}
</table>
