{% extends "base.html" %}

{% block content %}
  <div id='headline'>
    {% block title %}Order Detail{% endblock %}
  </div>
  {% if user != order.user %}
    <div>
      User: {{ order.user }}
    </div>
  {%  endif %}
  <div>
    Cohort: {{ order.cohort }}
  </div>
  <div>
    Date Placed: {{ order.req_request_date }}
  </div>
  <div>
    Status: {{ order.request_status }}
  </div>
  <div>
    Experimental Plan: <a href='/{{ order.req_experimental_plan }}'>{{ order.req_experimental_plan }}</a>
  </div>
  {% if order.req_notes %}
  <div>
    Notes: {{ order.req_notes }}
  </div>
  {% endif %}
  
  <div style='margin-top: 20px;'>
    <table class='cart_table'>
      <thead>
        <tr><th colspan="6">Requested Tissues</th></tr>
      </thead>
      <!--<tr><th>Tissue</th><th>Fix</th><th>Amount</th></tr>-->
      {% for item in order.brain_region_request_set.all %}
        {% include 'matrr/order_item_detail.html' %}
      {% endfor %}
{#      {% for item in order.microdissected_region_request_set.all %}#}
{#        {% include 'matrr/order_item_detail.html' %}#}
{#      {% endfor %}#}
      {% for item in order.tissue_request_set.all %}
        {% include 'matrr/order_item_detail.html' %}
      {% endfor %}
      {% for item in order.blood_and_genetic_request_set.all %}
        {% include 'matrr/order_item_detail.html' %}
      {% endfor %}
    </table>
  </div>
{% endblock %}