{% extends "base.html" %}

{% block content %}
	<div class='large-headline'>
		{% block title %}{% if edit %}Edit Order{% else %}Order Detail{% endif %}{% endblock %}
	</div>

	<br/>
	{% if edit %}
	<center><div class='blockLinkButton' style=''>This part of order can be edited only during checkout.</div></center>
	{% endif %}
	<table class="common_right" style="margin: auto; width:95%">
		<tr>
			<th>User:</th>
			<td><a href='{% url account-reviewer-view order.user.id %}'>{{ order.user }}</a></td>
			<th>Cohort:</th>
			<td><a href='{% url cohort-details order.cohort.coh_cohort_id %}'>{{ order.cohort }}</a></td>
		</tr>
		<tr>
			<th>Requested On:</th>
			<td>{{ order.req_request_date|date:"m/d/Y, g:i a" }}</td>
			<th>Status:</th>
			<td id="{{ order.req_status|lower }}">{{ order.get_req_status_display }}</td>
			
		</tr>
		<tr>
			<th>Referred By:</th>
			<td>{{ order.req_referred_by }}</td>
			<th>Progress Agreement:</th>
			<td>{{ order.req_progress_agreement }}</td>
		</tr>
		<tr>
			<th>Project Title:</th>
			<td colspan='3'>{{ order.req_project_title }}</td>
		</tr>
		<tr>
			<th>Experimental Plan:</th>
			{% if order.req_experimental_plan %}
				<td colspan='3'><a href='{{ MEDIA_URL }}{{ order.req_experimental_plan }}'>{{ order.req_experimental_plan }}</a></td>
			{% else %}
				<td colspan='3'>None uploaded</td>
			{% endif %}
		</tr>
		<tr>
			<th>Purpose:</th>
			<td colspan='3'>{{ order.req_reason }}</td>
		</tr>
		{% if order.req_notes %}
			<tr>
				<th>Extra Notes:</th>
				<td colspan='3'>{{ order.req_notes }}</td>
			</tr>
		{% endif %}
	</table>

	{% if order.shipment.shp_shipment_date %}
		<div class='small'>
			Shipped On: {{ order.shipment.shp_shipment_date|date:"m/d/Y" }}
		</div>
	{% endif %}
	{% if edit %}
	  <div class="messages"><div class="info">
      You cannot add new tissues to a revised order. Instead, create a new order to request additional tissues.   </div></div>
	
	<div class="messages"><div class="warning">A Revised order is just your draft, <strong>it has to be checked out (submitted).</strong> Only then MATRR team will be able to process it.</div></div>
	{% endif %}
	<div style='margin-top: 20px;'>
		<div class='headline'>Requested Tissues</div>
		{% for item in order.tissue_request_set.all %}
			{% include 'matrr/order_item_detail.html' %}
		{% endfor %}
		</table>
	</div>
	
	{% if not edit %}
		<a href='{% url order-list %}' class='blockLinkButton' style="float:left">Back</a>
	{% endif %}
	{% if edit %}
		<a href='{% url order-list %}' class='blockLinkButton' style="float:left">Finish Editing</a>
	{% endif %}
	{% if shipped %}
		<div class='left'>
			<a href='{% url manifest order.req_request_id %}' style="float:left" class='blockLinkButton'>Download Shipping Manifest</a>
		</div>
	{% else %}
		{% if not after_submitted %}
			<div>
				<a href='{% url order-delete order.req_request_id %}' style="float:left"  class='blockLinkDeleteButton'>Delete</a>
			</div>
		{% endif %}
	{% endif %}
	{% if edit %}
		<a href='{% url order-checkout order.req_request_id %}' class='blockLinkCheckoutButton' style="float:right">Proceed to checkout</a>
	{% endif %}
	      {% if order.can_be_revised %}
    <a href='{% url order-revise order.req_request_id %}' class='blockLinkCheckoutButton' style="float:right">Revise</a>
      {% endif %}
	
	
{% endblock %}