{% extends "base.html" %}

{% block title %}
MATRR
{% endblock %}

{% block content %}

<div class='center-content'>
<div class='large-headline'>Privacy Policy</div>
Entering user information is mandatory only if you wish to request tissues from our resource. This information is used to complete shipping and MTA arangements.
<br><br>
User information will not be sold or otherwise distributed.
<br><br>
    The MATRR site records some information about how the site is used such as the IP address of machines accessing data sets. This information is used to monitor our system performance, to prevent abuse of the system, and to guide further development of the site. This information is stored on the server in files that are accessible to members of the development group. Specific information will not be released.
<br><br>
    When you visit MATRR, your use of the site is recorded in two ways. First, your use is logged by the Web server in standard log files. The IP address of your machine, the date and time, and the name of the page you visit are recorded. Second, for each request from the SQL database, the site records your IP number, the time, and the data set from which you request information. This information is collected for statistical purposes. Our system uses a software program to create summary statistics that we find helpful in assessing patterns of data use, in measuring system performance, and in detecting problem. This information is used to provide you with better internet service.
<br><br>
    The MATRR also may request permission to place a so-called 'cookie' text file on your system to allow you to retain information on your set-up ode_preferences.
<br><br>
    For site security purposes and to ensure that this server remains available to users, this computer system employs programs that monitor network traffic to identify unauthorized attempts to upload or change information, and to detect unusally high numbers of requests from single IP addresses. By accessing this site, you expressly consent to usage monitoring of this site for unauthorized or unusually activities. Unauthorized attempts to upload information and change information are prohibited.
<br><br>
    In some cases, personal identifier information such as name or e-mail is requested or required. This information may be posted for public access along with the submitted comments and messages that it accompanies. In all cases, participation is strictly voluntary and no other use is made of the information.


<div class='text-right'>
<a onclick='javascript:history.go(-1);'>Back</a>
</div>

</div>

{% endblock %}
