{% load basic_filters %}
<table>
    {% for pub in publications|dictsortreversed:"published_year" %}
       
        <tr>
            {% if pub.pmid %}
                <a href="{{ pub.publication_url }}" target='_blank'>
                    {{ pub.title }}
                </a>
            {% else %}
                {{ pub.title }}
            {% endif %}
            <br>
            {% with author=pub.authors|truncate_by_char:',' %}
                {{ author }}, <i>et al.</i>,
            {% endwith %}
            {{ pub.journal }},
            {% if pub.volume %}
                Volume: {{ pub.volume }}
            {% endif %}
            {% if pub.issue %}
                Issue: {{ pub.issue }}
            {% endif %}
            {% if pub.published_month %}
                {{ pub.published_month }}
            {% endif %}
            {% if pub.published_year %}
                {{ pub.published_year }}
            {% endif %}
            <br>
			{% for cohort in pub.cohorts.all %}
                <a href="{% url cohort-details cohort.coh_cohort_id %}">{{ cohort.coh_cohort_name }}</a>{% if not forloop.last %}, {% else %}<br>{% endif %}
            {% endfor %}
        </tr>
        {% if not forloop.last %}<br> {% endif %}
    {% endfor %}
</table>