{% extends "base.html" %}

{% block title %}
{% if cohort.coh_upcoming %}
Upcoming 
{% else %}
Available 
{% endif %}
Cohort: {{ cohort.coh_cohort_name }}
{% endblock %}


{% block content %}
<div id='large-headline'>Timeline for {{ cohort.coh_cohort_name }}</div>

<div class="clearfix">
  <div style='float: left;'>
    {% if cohort.coh_upcoming %}
      <a href="/upcoming/{{ cohort.coh_cohort_id }}">
    {% else %}
      <a href="/available/{{ cohort.coh_cohort_id }}">
    {% endif %}
    <img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
      &nbsp;View Cohort Details</a>
    <br>
    {% if cohort.coh_upcoming %}
      <a href="/upcoming/">
    {% else %}
      <a href="/available/">
    {% endif %}
    <img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
      &nbsp;View {% if cohort.coh_upcoming %}Upcoming{% else %}Available{% endif %} Cohorts</a>
  </div>


<div style='float: right;'>
<a class='blockLinkButton' href='tissues'>Request Tissues from this Cohort</a>
</div>

</div>



<br>
    <div id='headline'>Induction Training</div>


<div>
<table class="common_center">
  <tr><th>Event</th><th>Date</th><th>Addtional Information</th></tr>
  {% for event in cohort.cohort_event_set.all|dictsort:'cev_date' %}
    <tr>
      <td>{{ event.event }}</td>
      <td>{{ event.cev_date }}</td>
      {% if event.cev_info %}
        <td>{{ event.cev_info }}</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
</div>





{% endblock %}
