{% extends "base.html" %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/widgets/fix_type_selection.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-checked.js"></script>
{% endblock %}

{% block cart %}
	{% include 'matrr/cart/cart.html' %}
{% endblock %}

{% block warning %}
	{% include 'matrr/cart/cohort_warning.html' %}
{% endblock %}

{% block login %}
{% endblock %}


{% block content %}
	{% block shopping-head %}
		<div id="large-headline">Tissue Request</div>
		<img style="padding: 4px 5px 4px 5px" src="{{ STATIC_URL }}/images/order_timeline_4.png" width='700' height='25'
			 alt='order timeline'/>
	{% endblock %}
	<div id="headline">{% block title %}{{ page_title }}{% endblock %}</div>
	<br/>


	<form action='' method='post'>
		{% csrf_token %}
		{# Include the hidden fields in the form #}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% if form.non_field_errors %}
			<div class="messages">
				<div class="error">
					{% for error in form.non_field_errors %}
						{{ error }}
					{% endfor %}
				</div>
			</div>
		{% endif %}
		<div class='right clearfix' style="background-color: #9F6000;background-color: #FEEFB3;padding: 10px;text-align: center; width: 36%">
			<div class='headline'><a href='/fee'>Estimated Cost (per monkey)</a></div>
			{% if "Custom" in form.tissue.category.cat_name or "Assay" in cohort.coh_cohort_name %}
				<div class=small>Contact MATRR for price.</div>
			{% else %}
				<div style="font-size: 13pt">
					{% if "Brain" in form.tissue.category.cat_name %}Frozen:  $250<br>{% if cohort.coh_upcoming %}Special Process: $350{% endif %}{% endif %}
					{% if "Peripheral" in form.tissue.category.cat_name %}Frozen:  $100<br>{% if cohort.coh_upcoming %}Special Process: $200{% endif %}{% endif %}
				</div>
			{% endif %}
			<div class='mini-headline'></div>
			<div style="text-align: left"><font
					style="font-size:10pt;">If this tissue is being requested for DNA or RNA analysis then MATRR will perform the extraction prior to distribution.</font></div>
			<div class='mini-headline'></div>
			<span style='font-size: 1.25em'><a href="/faq/#TissueQuantities" target='_blank'>Suggested Tissue Quantities</a></span>
		</div>
		<table>
			{% for field in form.visible_fields %}
				{% if field %}
					<tr>
						<th>
							<label for='{{ field.html_name }}'>
								{% if field.label == 'Tissue Notes' and form.tissue.category.cat_name == 'Custom' %}
									Detailed Description of the Request
								{% else %}
									{{ field.label }}
								{% endif %}
							</label>
							{% if field.help_text %}
								<a class='tool-tip'><img src='{{ STATIC_URL }}images/help-12.png'/>
                                    <span>
                                        {% if field.label == 'Notes' and form.tissue.category.cat_name == 'Custom' %}
											Please provide a detailed description of the tissue you are requesting.
										{% else %}
											{{ field.help_text }}
										{% endif %}
                                    </span></a>
							{% endif %}
						</th>
						<td colspan='3'>{{ field }}</td>
					</tr>

                    {% if field.errors %}
                        <tr>
                            <td align=right>Error:</td>
                            <td class='field-error' colspan='3'>{{ field.errors }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
			{% endfor %}
		</table>
		{% block buttons %}
			<button type='submit' name='Submit' class="blockLinkCheckoutButton">Add to cart</button>
		{% endblock %}
	</form>
{% endblock %}

