{% extends "base.html" %}

{% block cart %}
{% include 'matrr/cart/cart.html' %}
{% endblock %}

{% block login %}
{% endblock %}


{% block content %}
  <div id="large-headline">Tissue Request</div>
  <img style="padding: 4px 5px 4px 5px" src="{{ STATIC_URL}}/images/order_timeline_4.png" width='700' height='25'
       alt='order timeline'/>
<div id="headline">{% block title %}{{ page_title }}{% endblock %}</div>
  <br/>
  

<form action='' method='post'>
{% csrf_token %}
{# Include the hidden fields in the form #}
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% if form.non_field_errors %}
<div class="messages">
  <div class="error">
{% for error in form.non_field_errors %}
  {{ error }}
{% endfor %}
  </div>
</div>
{% endif %}

<table>
{% for field in form.visible_fields %}
  <tr><th><label for='{{ field.html_name }}'>{{ field.label }}</label>
  {% if field.help_text %}
    <a class='tool-tip'><img src='{{ STATIC_URL }}images/help-12.png'/><span>{{ field.help_text }}</span></a>
  {% endif %}
  </th><td colspan='3'>{{ field }}</td>
  </tr>
  {% if field.errors %}
    <tr><td align=right>Error:</td><td class='field-error' colspan='3'>{{ field.errors }}</td></tr>
  {% endif %}
{% endfor %}
</table>
{% block buttons %}
<button type='submit' value='Submit'>Add to cart</button>
{% endblock %}
</form>
{% endblock %}

