{% extends 'matrr/tissue_shopping.html' %}

{% load tissue_filters %}

{% block content %}
  <div id="large-headline">Tissue Request</div>
  <img style="padding: 4px 5px 4px 5px" src="{{ STATIC_URL}}/images/order_timeline_3.png" width=700 height=25>

{% if cohort != None %}
<div id="headline">
{% block title %}
  Available {{ title }} for cohort: {{ cohort.coh_cohort_name }}
{% endblock %}
</div>


<table class="three_column">
  <tr>
  {% for tissue in tissues %}
 

      <td><a href='{{ tissue.tst_type_id }}'>{{ tissue.tst_tissue_name }}</a></td>

  
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
      </tr>
      <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>
{% if not tissues %}
	<span class="content-padding"> None</span>
{% endif %}
{% endif %}

{% if cohort != None %}
<div id="headline">

  Unavailable {{ title }} for cohort: {{ cohort.coh_cohort_name }}

</div>



<table class="three_column">
  <tr>
  {% for tissue in tissues_unavailable %}
 
 	
      <td>{{ tissue.tst_tissue_name }}
  
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
      </tr>
      <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>
{% if not tissues_unavailable %}
	<span class="content-padding"> None</span>
{% endif %}
{% endif %}


<div class="pagination">
  <span class="step-links">
    {% if tissues.has_previous %}
      <a href="?page={{ tissues.previous_page_number }}">previous</a>
    {% endif %}

<!--
    <span class="current">
      Page {{ tissues.number }} of {{ tissues.paginator.num_pages }}.
    </span>
-->

    {% if tissues.has_next %}
      <a href="?page={{ tissues.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endblock %}
