{% extends "base.html" %}

{% block title %}
MATRR
{% endblock %}

{% block content %}

<div class='content-item'>
<div class='large-headline'>Usage Policy - Disclaimer</div>
Data and web site providers make no guarantees or warranties as to the accuracy or completeness of results obtained from accessing and using information from the MATRR anaylsis pages. We will not be liable to any user or anyone else for any inaccuracy, error or omission, regardless of cause, in the data contained in MATRR databases or any resulting damages. In addition, the data providers do not warrant that the databases will meet your requirements, be uninterrupted, or error-free. Data providers expressly exclude and disclaim all expressed and implied warranties of merchantability and fitness for a particular purpose. Data providers shall not be responsible for any damage or loss of any kind arising out of or related to your use of the databases, including without limitation data loss or corruption, regardless of whether such liability is based in tort, contract, or otherwise.


<div class='text-right'>
<a onclick='javascript:history.go(-1);'>Back</a>
</div>

</div>

{% endblock %}
