{% extends 'base.html' %}

{% block title %}Tissue Inventory Verification{% endblock %}


{% block content %}

	<div class='large-headline'>Tissue Inventory Verification</div>
	<div class='clearfix'>
		{% if requests.count > 0 or requestless_count > 0%}
			<table class="common_center" cellpadding='4' cellspacing='2'>
				<tr>
					<th>Cohort</th>
					<th>Date Placed</th>
					<th>Status</th>

				</tr>

				{% for req in requests %}
					<tr>
						<td>{{ req.cohort }}</td>
						<td>{{ req.req_request_date|date:"m/d/Y, g:i a" }}</td>
						<td {% if req.request_status|lower == "accepted" %}
								style='color: green'
								{% endif %}
								{% if req.request_status|lower == "rejected" %}
								style='color: red'
								{% endif %}>
							{{ req.request_status }}</td>

						<td><a href='{% url verification-list req.req_request_id %}'>Inventory verification forms</a></td>
						<td><a href='{% url verification-list-export req.req_request_id %}' class='blockLinkDeleteButton' style='width:100px;float: right'>Export PDF</a></td>
					</tr>
				{% endfor %}
				{% if requestless_count %}
					<tr>
						<td>Not available</td>
						<td>Not available</td>
						<td>MATRR Inventory Verification</td>
						<td><a href='{% url verification-list 0 %}'>Inventory verification forms</a></td>
						<td><a href='{% url verification-list-export 0 %}' class='blockLinkDeleteButton' style='width:100px;float: right'>Export PDF</a></td>
					</tr>

				{% endif %}
			</table>
		{% else %}
			<div class='messages'><div class='info'>
				No tissues to verify
			</div></div>
		{% endif %}
	</div>

	<br>


{% endblock %}