{% extends "base.html" %}
{% load basic_filters %}

{% block title %}RNA Record{% endblock %}

{% block content %}
	<div id="large-headline">RNA Record {{ rna_record.pk }} for {{ rna_record.monkey }}</div>
    <div class='clearfix'>
        <table class="common">
            <tr>
                <th>RNA ID</th>
                <td class='text-center-common-td'>{{ rna_record.pk }}</td>
            </tr>
            <tr>
                <th>Tissue Type</th>
                <td class='text-center-common-td'>{{ rna_record.tissue_type }}</td>
            </tr>
            <tr>
                <th>Monkey</th>
                <td class='text-center-common-td'><a href="{% url monkey-detail rna_record.monkey.pk %}">{{ rna_record.monkey}}</a></td>
            </tr>
            <tr>
                <th>User</th>
                <td class='text-center-common-td'>{{ rna_record.user }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td class='text-center-common-td'>{{ rna_record.rna_modified|date:"m/d/Y" }}</td>
            </tr>
            <tr>
                <th>Date Extracted</th>
                <td class='text-center-common-td'>{{ rna_record.rna_extracted }}</td>
            </tr>
            <tr>
                <th>RNA (ng/ul)</th>
                <td class='text-center-common-td'>{{ rna_record.rna_value_a }}</td>
            </tr>
            <tr>
                <th>A260/280</th>
                <td class='text-center-common-td'>{{ rna_record.rna_a260_280 }}</td>
            </tr>
            <tr>
                <th>RNA (ng/ul)</th>
                <td class='text-center-common-td'>{{ rna_record.rna_value_b }}</td>
            </tr>
            <tr>
                <th>RIN</th>
                <td class='text-center-common-td'>{{ rna_record.rna_rin }}</td>
            </tr>
            <tr>
                <th>Vol</th>
                <td class='text-center-common-td'>{{ rna_record.rna_vol }}</td>
            </tr>
            <tr>
                <th>Total ug</th>
                <td class='text-center-common-td'>{{ rna_record.rna_total_ug }}</td>
            </tr>
            <tr>
                <th>for 10 ug</th>
                <td class='text-center-common-td'>{{ rna_record.rna_10_ug }}</td>
            </tr>
            <tr>
                <th>Min</th>
                <td class='text-center-common-td'>{{ rna_record.rna_min }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td class='text-center-common-td'>{{ rna_record.rna_max }}</td>
            </tr>
        </table>
{% endblock %}

