
# /
/.gitignore
/.bash_history
/.bash_profile
/.fontconfig
/.gitconfig
/.ipython
/.matplotlib
/.idea/
/.DS_Store
/.komodotools/
*.pyc
/*.komodoproject
local_settings.py
develop_settings.py
/sroot
*hokus*.py
/media
/matrr/migrations
/MATRR.log
/matrr/utils/DATA/
/log_archive

