{% extends "base.html" %}
{% load i18n %}


{% block login %}{% endblock %}

{% block content %}
	<div id='headline'>Create an Account</div><br>
	<div class="clearfix">
	<div style="float: right; width: 50%; left: 0">

	<div style="background-color: #FEEFB3;padding: 2px; width: 43%">
		<center><a href='/public-faq#CreateAccount'>Example Video</a><br></center><br>
		<div class='mini-headline'>1. Create Account</div>
			Fill out required information to initiate an Account request.<br><br>
		<div class='mini-headline'>2. Activate Account</div>
			Follow the link you receive in an email to Activate your Account.<br><br>
		<div class='mini-headline'>3. Verify Account</div>
			Once MATRR staff verifies your Account (usually about 48 hrs.) you will be able to use MATRR resources.<br><br>

	</div>

	</div>

	<div style="float: left; width: 50%; right: 0">

	<font color=red size=-1>* Indicates Required Field</font>
	<form method="post" action="">{% csrf_token %}
		{% for field in form %}
		<div class=clearfix>
			<div class="table-left">
				<div class="text-right">
					{{ field.label|capfirst }}
						{% if field.label != "Country" and field.label != "Address 2" %}
							<font color=red size=-1> *</font>
						{% endif %}
				</div>
			</div>
			<div class="table-right">{{ field }}</div>
			{% if field.errors %}
				<div class="table-left"></div>
				<div class="field-error"> {{ field.errors }}</div>
			{% endif %}
		</div>
		{% endfor %}


		<div class=clearfix>

			<div class="table-right">
				<button type='submit' name='submit' value='Submit' class="blockLinkCheckoutButton">Request Account</button>
			</div>
		</div>
	</form>

	</div>
	</div>
	<br><br><br>

{% endblock %}
