{% extends 'base.html' %}

{% block title %}
	Advanced Search
{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="/static/js/toggle-visibility.js"></script>
	<script type="text/javascript" src="/static/js/advanced_search.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
	<script type="text/javascript">function post_adv_form()
	{	var response = $.ajax
    ({
        type: "POST",
        url: '{% url 'ajax-advanced-search' %}',
        dataType: 'json',
        async: false,
        data: $("#adv_form").serialize()
    });
		parse_json_response(response)
    }
	</script>
{% endblock %}

{% block content %}

	<div class='large-headline'>Advanced Search</div>
	<div class=small>Checkboxes within a category are OR'd together.  Categories are AND'd together.</div>

	<div style='margin: auto'>
		<form class=left action='' method='post' style='max-width: 25%' id=adv_form>
			{% csrf_token %}
			{{ select_form.as_ul }}
			<hr style='height: 5px; background-color: black;'>
			<b>Filter Monkeys by:</b>
			<div class=headline><a onclick="javascript:toggle_visibility('control');"><img src='{{ STATIC_URL }}images/expand.gif'>  Control</a></div>
			<div id='control' class='hidden'>
				{{ filter_form.control }}<table><tr>Control</tr></table>
			</div>
			<div class=headline><a onclick="javascript:toggle_visibility('cohort');"><img src='{{ STATIC_URL }}images/expand.gif'>  Cohort</a></div>
			<div id='cohort' class='hidden'>
				{{ filter_form.cohorts }}
			</div>
			<div class=headline><a onclick="javascript:toggle_visibility('proteins');"><img src='{{ STATIC_URL }}images/expand.gif'> Proteins</a></div>
			<div id='proteins' class="hidden">
				<div class=small>Will display monkeys which exhibited at least one standard deviation from the cohort mean in any of the selected proteins.</div>
				{{ filter_form.proteins }}
			</div>
			<div class=headline><a onclick="javascript:toggle_visibility('hormones');"><img src='{{ STATIC_URL }}images/expand.gif'> Hormones</a></div>
			<div id='hormones' class="hidden">
				<div class=small>Will display monkeys which exhibited at least one standard deviation from the cohort mean in all of the selected hormones.</div>
				{{ filter_form.hormones }}
			</div>
		</form>


		<div class="left" style='max-width:75%'>
			<div class=clearfix></div>
			<div class='margin'>
				{% if monkeys %}
					<div class="mini-headline">Monkeys</div>
					<table class='common_center'>
						<tr>
							{% if monkey_auth %}
								<th>Real Name</th>{% endif %}
							<th>Monkey ID</th>
							<th>Cohort</th>
							<th>Sex</th>
							<th>Test Group</th>
						</tr>
						{% for monkey in monkeys %}
							<tr id="monkey_{{ monkey.pk }}" class=" hidden">
								{% if monkey_auth %}
									<td>{{ monkey.mky_name }}</td>
								{% endif %}
								<td>
									<a href="{% url 'monkey-detail' monkey.cohort.coh_cohort_id monkey.mky_id %}" target="_blank">
										{{ monkey.mky_id }}
										<img src="{{ STATIC_URL }}/images/arrow_popup.png" width='8' height='8' style="vertical-align: text-top">
									</a>
								</td>
								<td>
									<a href="{% url 'cohort-details' monkey.cohort.pk %}" target='_blank'>
										{{ monkey.cohort.coh_cohort_name }}
										<img src="{{ STATIC_URL }}/images/arrow_popup.png" width='8' height='8' style="vertical-align: text-top">
									</a>
								</td>
								<td>{{ monkey.mky_gender }}</td>
								<td>
									{% if monkey.mky_drinking %}
										Ethanol
										{% else %}{% if monkey.mky_housing_control %}
											Housing Control
										{% else %}
											Control
										{% endif %}{% endif %}
								</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}