{% extends "base.html" %}
{% load basic_filters %}

{% block title %} Data Repository Status {% endblock %}

{% block content %}
    <div class='headline'> Monkey Hormone Challenge Data Availability.
{#        <a href="{% url 'cohort-details' cohort.coh_cohort_id %}">{{ cohort.coh_cohort_name }}</a>#}
    </div>

    <br/>
    <div align="center">
        <table class='common_center' style='padding: 0'>
            <tr>
                <td width="200" style="background-color:lightseagreen;" >Available</td>
                <td width="200" style="background-color:lightcoral;">Unavailable</td>
            </tr>
        </table>
    </div>

    {% for cohort, coh_mhc in cohorts_mhc %}
    <br/>
        <div class="mini-headline"><a href="{% url 'cohort-details' cohort.0 %}">{{ cohort.1 }}</a></div>

    <div class="clearfix">
    <table class='table-drink-cats menu-links common_center'>
        <thead>
        <tr>
            <th> <br>EP </th>
            <th> Hormone/<br>Challenge </th>

            {% for hormone in hormones %}
                <th> {{ hormone }} </th>
            {% endfor %}
        </tr>
        </thead>

        <tbody class='drink-cat-rows'>
            {% for ep in coh_mhc.keys %}
                <td rowspan="{{ n_rows_challenge }}">{{ ep }}</td>
                {% for challenge in challenges %}
                    <tr>
                        <td>{{ challenge.1 }}</td>
                        {% for hormone in hormones %}
                            <td style="text-align: center; background-color:
                                {% if challenge.1 in coh_mhc|keyvalue:ep|keyvalue:hormone %}
                                    lightseagreen
                                {% else %}
                                    lightcoral
                                {% endif %}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>

    </table>
    </div>
    {% endfor %}

{% endblock %}
