{% extends "base.html" %}
{% load basic_filters %}

{% block title %} Data Repository Status {% endblock %}

{% block content %}
    <div class='headline'> Monkey Hormone Challenge Data Availability.
{#        <a href="{% url 'cohort-details' cohort.coh_cohort_id %}">{{ cohort.coh_cohort_name }}</a>#}
    </div>

    <div class=left>
            <img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
            &nbsp;View Inventory Cohort List
        <br/>

            <img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
            &nbsp;View Cohort Details
    </div>
    <div class=right>
        <table class='common_center' style='padding: 0'>
            <tr>
                <td id="avail0">Available</td>
            </tr>
            <tr>
                <td id="avail2">Unavailable</td>
            </tr>
        </table>
    </div>


    <br>
    <div class="clearfix">
    <table class='table-drink-cats menu-links common_center'>
        <thead>
        <tr>
            <th> <br>EP </th>
            <th> Hormone/<br>Challenge </th>

            {% for hormone in hormones %}
                <th> {{ hormone }} </th>
            {% endfor %}
        </tr>
        </thead>

        <tbody class='drink-cat-rows'>
            {% for ep in all_mhc.keys %}
                <td rowspan="{{ n_rows_challenge }}">{{ ep }}</td>
                {% for challenge in challenges %}
                    <tr>
                        <td>{{ challenge.1 }}</td>
                        {% for hormone in hormones %}
                            <td style="text-align: center; background-color:
                                {% if challenge.1 in all_mhc|keyvalue:ep|keyvalue:hormone %}
                                    #AFE9AF
                                {% else %}
                                    #FFAAAA
                                {% endif %}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>

    </table>
    </div>

{% endblock %}
