{% extends "base.html" %}
{% load basic_filters %}

{% block title %} Data Repository Status {% endblock %}

{% block content %}
    {% if data_rows %}
        This table shows whether a data type exists (color) and in what capacity (K - thousand, M - million).
        <br>
        <div class="clearfix"></div>
        <table>
            <thead>
            <tr>
                {% for head in headers %}
                    {% if forloop.counter0 == 0 %}
                        <th>{{ head }}</th>
                    {% else %}
                        <th class="rotate_header">
                            <div><span>{{ head }}</span></div>
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data_rows %}
                <tr>
                    {% for cell in row %}
                        {% if forloop.counter0 == 0%}
                            <td>{{ cell|spacify}}</td>
                        {% else %}
                            <td style="text-align: center; background-color: {% if cell != 0 and cell != '0' %}lightseagreen{% else %}lightcoral{% endif %}">
                                {{ cell }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        Last updated:  {{ last_updated }}
    {% endif %}
    <br><br>
    {% if perms.matrr.can_download_data %}
        <form action='' method='post'>
            {% csrf_token %}
            <button type='submit' name='refresh_data' class="blockLinkCheckoutButton">Refresh Data</button><br>
            This might take some time, but I assure you it's working once you click it. Come back after lunch.
        </form>
    {% endif %}
{% endblock %}
