{% extends "base.html" %}

{% block content %}
<div class='headline'>{% block title %}Events{% endblock %}</div>
<div>
{% if event_list %}
  {% for event in event_list %}
    <div style='margin-top:10px; margin-bottom:5px;'>
      <div class='mini-headline'>{{ event.name }} ({{ event.date }})</div>
      {{ event.description }}
    </div>
  {% endfor %}
</div>
				{% load inclusion_tags %}
				{% pagination page_obj %}
{% else %}
<div class="messages">
	<div class="info">
		There are currently no events.
	</div>
</div>
{% endif %}
{% endblock %}
