{% extends "base.html" %}
{% load basic_filters %}

{% block content %}
	<div id='large-headline'>
		{% block title %}
			{% if monkey.cohort.coh_upcoming %}
				Upcoming
			{% else %}
				Available
			{% endif %}
			Cohort: {{ monkey.cohort.coh_cohort_name }}
			Monkey: {{ monkey.mky_id }}
		{% endblock %}
	</div>
	<div class='clearfix'>
		<div style='float: left;'>
			<!--link back to cohort detail-->
			<a href="{% url 'cohort-details' monkey.cohort.pk %}">
				<img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
				&nbsp;Cohort Details</a>
			<!--endlink back to cohort list-->
			{% if monkey.has_protein_data %}
				<br>
				<a href="{% url 'tools-monkey-protein' monkey.cohort.pk monkey.pk %}">
					<img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
					&nbsp;View Protein Tools
				</a>
			{% endif %}
			{% if monkey.has_hormone_data and perms.matrr.view_hormone_tools %}
				<br>
				<a href="{% url 'tools-monkey-hormone' monkey.cohort.pk monkey.pk %}">
					<img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
					&nbsp;View Hormone Tools
				</a>
			{% endif %}
			{% if perms.matrr.browse_inventory %}
				<br/>
				<a href="{% url 'inventory-cohort' monkey.cohort.pk %}">
					<img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
					&nbsp;Browse Cohort Inventory
				</a>
			{% endif %}
		</div>

		<div style='float: right;'>
			<a class='blockLinkButton' href='{% url 'tissue-shop-landing' monkey.cohort.pk %}'>Request Tissues from this Cohort</a>
		</div>

	</div>
	<div>
		<table class='common_center'>
			<tr>
				{% if perms.matrr.monkey_view_confidential %}
					<th>Real Name</th>{% endif %}
				<th>Sex</th>
				<th>Birthdate</th>
				<th>Necropsy Start Date</th>
				<th>Weight</th>
				<th>Test Group</th>
				<th>Drinking Days</th>
				<th>Study Complete</th>
				<th>Notes:</th>
			</tr>
			<tr>
				{% if perms.matrr.monkey_view_confidential %}
					<td>{{ monkey.mky_name }}</td>
				{% endif %}
				<td>{{ monkey.mky_gender }}</td>
				<td>{{ monkey.mky_birthdate|date:"m/d/Y" }}</td>
				<td>{{ monkey.mky_necropsy_start_date|date:"m/d/Y" }}</td>
				<td>{{ monkey.mky_weight }}</td>
				<td>
					{% if monkey.mky_drinking %}
						Ethanol
					{% else %}
						{% if monkey.mky_housing_control %}
							Housing Control
						{% else %}
							Control
						{% endif %}
					{% endif %}
				</td>
				<td>{{ monkey.DrinkingDaysTotal }}</td>
				<td>{% if monkey.mky_study_complete %}<font color=Green>Complete</font>{% else %}<font color=red>Incomplete</font>{% endif %}
				<td>{{ monkey.mky_notes }}</td>

			</tr>
		</table>
	</div>
	<br>
	<div class="clearfix">
	{% if images %}
		<div class='mini-headline'>Monkey Plots</div>
		{% for mig in images %}
			<div class="image_container">
				<div class="image_thumbnail left">
					<center>{{ mig.title }}</center>
					<a rel="plot_gallery" title="{{ mig.title }}" href="{{ mig.html_fragment.url }}" target="_blank">
						<img width='240' height='240' src="{{ mig.thumbnail.url }}">
					</a>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	</div>

{% endblock %}
