{% extends "base.html" %}

{% block content %}
	<div id="large-headline">MTA Verification</div>
	<div id="headline">MTA List</div>


	<form method="post" action="">
		{{ formset.management_form }}
		{% csrf_token %}
		<table class='common'>
			<tr>
				<th>MTA</th>
				<th>User</th>
				<th>File</th>
				<th> </th>
			</tr>
		{% for mta in formset %}
			{{ mta.primarykey }}
			<tr>
				<td>{{ mta.primarykey }}</td>
				<td>{{ mta.initial.username }}</td>
				<td><a href="{{ mta.initial.url }}">{{ mta.initial.title }}</a></td>
				<td>{{ mta.is_valid }} MTA is Valid</td>
			</tr>
		{% endfor %}
		</table>
		<button type='submit' name='submit' class='blockLinkCheckoutButton' style='width:100px;float: left'>Update</button>

	</form>

	<center>
		{% load inclusion_tags %}
		{% pagination mta_list %}
	</center>

{% endblock %}
