{% extends 'base.html' %}

{% block title %}
	{% if terms %}
		Results for: {{ terms }}
	{% else %}
		Full Text Search
	{% endif %}
{% endblock %}

{% block content %}

	<div class='large-headline'>Full Text Search</div>

	<div style='margin: auto'>
		<form action='' method='post'>
			{% csrf_token %}
			<center>
				<table class='common'>
					<tr>
						<td align='center'>{{ form.terms }}
							<button type='submit' name='submit' class="blockLinkCheckoutButton">Search
							</button>
						</td>
					</tr>
					<tr>
						<td align=center><font size=-1 color=gray>AND = &, OR = |, NOT = ! or -, Grouping = () <i>Ex: (cat
							-dog)|(cat -mouse)</i></font></td>
					</tr>
				</table>
			</center>
		</form>

		{% if results %}
			<div class='headline'>
				{{ num_results }} results for: {{ terms }}
			</div>
		{% endif %}
		<div class='margin'>
			{% if results.monkey %}
				<div class="mini-headline">Monkeys</div>

				<table class='common_center'>
					<tr>
						{% if monkey_auth %}
							<th>Real Name</th>{% endif %}
						<th>Monkey ID</th>
						<th>Cohort name</th>
						<th>Sex</th>
						<th>Birthdate</th>
						<th>Weight</th>
						<th>Test Group</th>
					</tr>
					{% for monkey in results.monkey %}
						<tr>
							{% if monkey_auth %}
								<td>{{ monkey.mky_name }}</td>
							{% endif %}
							<td>
								<a href="{% url 'monkey-detail' monkey.cohort.coh_cohort_id monkey.mky_id%}"
								   target="_blank">
									{{ monkey.mky_id }}
									<img src="{{ STATIC_URL }}/images/arrow_popup.png" width='8' height='8'
										 style="vertical-align: text-top">
								</a>
							</td>
							<td>{{ monkey.cohort.coh_cohort_name }}</td>
							<td>{{ monkey.mky_gender }}</td>
							<td>{{ monkey.mky_birthdate|date:"m/d/Y" }}</td>
							<td>{{ monkey.mky_weight }}</td>
							<td>
								{% if monkey.mky_drinking %}
									Ethanol
									{% else %}{% if monkey.mky_housing_control %}
										Housing Control
									{% else %}
										Control
									{% endif %}{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			{% if results.monkeyprotein %}
				<div class="mini-headline">Proteins</div>

				<table class='common_center'>
					<tr>
						{% if monkey_auth %}
							<th>Real Name</th>{% endif %}
						<th>Monkey ID</th>
						<th>Cohort name</th>
						<th>Sex</th>
						<th>Birthdate</th>
						<th>Protein</th>
					</tr>
					{% for mpn in results.monkeyprotein %}
						<tr>
							{% if monkey_auth %}
								<td>{{ mpn.monkey.mky_name }}</td>
							{% endif %}
							<td>
								<a href="{% url 'monkey-detail' mpn.monkey.cohort.coh_cohort_id mpn.monkey.mky_id%}"target="_blank">
									{{ mpn.monkey.mky_id }}
									<img src="{{ STATIC_URL }}/images/arrow_popup.png" width='8' height='8' style="vertical-align: text-top">
								</a>
							</td>
							<td>{{ mpn.monkey.cohort.coh_cohort_name }}</td>
							<td>{{ mpn.monkey.mky_gender }}</td>
							<td>{{ mpn.monkey.mky_birthdate|date:"m/d/Y" }}</td>
							<td>
								{{ mpn.protein }}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			{% if results.cohort %}
				<div class="mini-headline">Cohorts</div>
				<div>
					<table class='common_center'>
						<tr>
							<th>Cohort name</th>
						</tr>
						{% for cohort in results.cohort %}
							<tr>
								<td><a href="{% url 'cohort-details' cohort.coh_cohort_id %}">{{ cohort.coh_cohort_name }}</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}
			{% if results.publications %}
				<div class="mini-headline">Publications</div>
				<table class='common_center'>
					{% for pub in results.publications|dictsortreversed:"published_year" %}
						<tr>
							{% if pub.pmid %}
								<a href="http://www.ncbi.nlm.nih.gov/pubmed?term={{ pub.pmid }}" target='_blank'>
									{{ pub.title }}
								</a>
							{% else %}
								{{ pub.title }}
							{% endif %}
							<br>
							{% load basic_filters %}
							{% with author=pub.authors|truncate_three_by_char:',' %}
								{{ author }}, <i>et al.</i>,
							{% endwith %}
							{{ pub.journal }},
							{% if pub.volume %}
								Volume: {{ pub.volume }}
							{% endif %}
							{% if pub.issue %}
								Issue: {{ pub.issue }}
							{% endif %}
							{% if pub.published_month %}
								{{ pub.published_month }}
							{% endif %}
							{% if pub.published_year %}
								{{ pub.published_year }}
							{% endif %}
							<br>
							{% for cohort in pub.cohorts.all %}
								<a href="{% url 'cohort-details' cohort.coh_cohort_id %}">{{ cohort.coh_cohort_name }}</a>{% if not forloop.last %}, {% else %}<br>{% endif %}
							{% endfor %}
						</tr>
						{% if not forloop.last %}<br> {% endif %}
					{% endfor %}
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}