{% extends 'matrr/tissue_shopping.html' %}	
{% load tissue_filters %}
{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
{% endblock %}

{% block content %}
	<div id="large-headline">Tissue Request</div>
	<img style="padding: 4px 5px 4px 5px" src="{{ STATIC_URL}}/images/order_timeline_3.png" width=700 height=25>

	{% if cohort != None %}
		<div id="headline">
			{% block title %}
				Available {{ title }} for cohort: {{ cohort.coh_cohort_name }}
			{% endblock %}
		</div>

		{% if tissues %}
			<table class="three_column">
				<tr>
					{% for tissue in tissues %}
						<td><a href='{% url 'tissue-shop-detail' cohort.coh_cohort_id tissue.tst_type_id %}'>{{ tissue.tst_tissue_name }}</a></td>

						{% if forloop.counter|divisibleby:"3" and not forloop.last %}
							</tr>
							<tr>
						{% endif %}
					{% endfor %}
					</tr>
			</table>
		{% else %}
			<div class="messages"> <div class="info">No tissues available.</div></div>
		{% endif %}

		{% if tissues_unavailable %}
			<div id="headline">Unavailable {{ title }} for cohort: {{ cohort.coh_cohort_name }}</div>

			<table class="three_column">
				<tr>
					{% for tissue in tissues_unavailable %}
						<td>{{ tissue.tst_tissue_name }}

							{% if forloop.counter|divisibleby:"3" and not forloop.last %}
								</tr>
								<tr>
							{% endif %}
					{% endfor %}
					</tr>
			</table>
		{% endif %}

	{% endif %}

	<div class='clearfix'>
			<div class='mini-headline'>Brain Blocks</div>
			<div class="image_container">
				<div class="image_thumbnail left">
					<center>Brain Blocks</center>
					<a rel="plot_gallery" title="Brain Blocks" href="{{ STATIC_URL }}images/brain_blocks/brain_block_2.html" target="_blank">
						<img src="{{ STATIC_URL }}images/brain_blocks/brain_block_2-thumb.jpg">
					</a>
				</div>
		</div>
	</div>
{% endblock %}
