{% extends "base.html" %}
{% load i18n %}


{% block content %}

	<div class="content-item">
		<div id="headline">Upload Material Transfer Agreement (MTA)</div>
		{% if form.errors %}
			<div class="messages">
				<div class="error">
					{% for field in form %}
					{% if field.errors %}
					{{ field.label_tag }}:
						{% for error in field.errors %}
							 {{ error }}
						{% endfor %}
					{% endif %}
					{% endfor %}
					
				</div></div>
		{% endif %}

		<div class=clearfix></div>
		<br>
		<div class='center-content'>
			<p>
				If your institution is not one of the Master UMBTA Agreement Signatories then you must sign and submit MATRRs Material Transfer Agreement before receiving
				any tissue or data through MATRR.  Clicking "Request MATRR MTA Form" will notify an administrator of your form request, who will contact you within 48 hours
				with further instructions on how to continue.  You can build and submit requests without an MTA agreement, but we cannot ship tissues to users until an MTA
				has been collected.
			</p>
		</div>
		<br>
		<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
			<div id="table-wrap">
				<center><button type='submit' name='request_form' class="blockLinkButton">Request MATRR MTA Form</button></center>
				<br>
				<div class="mini-headline">Upload Signed MTA</div>

				<div class="table-left text-right">
					<a class='tool-tip'><img src='{{ STATIC_URL }}images/help-12.png'/><span>{{ form.mta_title.help_text }}</span></a> MTA Title:
				</div>
				<div class="table-right">{{ form.mta_title }}</div>
				<div class="table-left">
					<div class="text-right">Selected File:</div>
				</div>
				<div class="table-right">{{ form.mta_file }}</div>
				<div class="table-right">
					<button type='submit' class="blockLinkCheckoutButton">Upload</button>
				</div>
			</div>
		</form>
	</div>


{% endblock %}