{% extends "base.html" %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
{% endblock %}


{% block content %}
	<div class=large-headline>Cohort BEC Tools</div>
	<br>
	{% if graph %}
		<div class="image_container">
			<div class="image_thumbnail left">
				<center>{{ graph.title }}</center>
				<a rel="plot_gallery" title="{{ graph.title }}" href="{% if graph.html_fragment %}{{ graph.html_fragment.url }}{% else %}{{ graph.image.url }}{% endif %}" target="_blank">
					<img src="{{ graph.thumbnail.url }}">
				</a>
			</div>
		</div>
	{% endif %}
	<div class=clearfix></div>
	<form action='' method='post'>
		{% csrf_token %}
		<div class=headline>{{ subject_select_form.subject.label }}</div>
		<div class=small>{{ subject_select_form.subject.help_text }}</div>
		{{ subject_select_form.subject }}
		<br><br>
		<div class=headline>{{ experiment_range_form.range.label }}</div>
		<div class=small>{{ experiment_range_form.range.help_text }}</div>
		{{ experiment_range_form.range }}
		<div id='dates' style='display:none;'>
			<div  style="width: 65%; float:right">
				<div class='small' style="padding: 5px 0 5px 0px">Leave blank to plot all available data</div>
                {% for cohort in cohorts %}
					<div class='mini-headline'><a onclick="javascript:toggle_visibility('cohort_{{ cohort.pk }}');">{{ cohort }} Timeline</a></div>
                    <div id='cohort_{{ cohort.pk }}' class='hidden'>
                        {% include 'matrr/__timeline.html' %}</div>
                {% endfor %}
			</div>
			<div  style="width: 35%; float:left">
                From:{{ experiment_range_form.from_date }} <br>
                To:{{ experiment_range_form.to_date }}
			</div>
		</div>

		<br><br>
	    <div class='clearfix'></div>
	    <div>
            <button type='submit' name='submit' class="blockLinkCheckoutButton">Submit</button>
		</div>
	</form>

{% endblock %}
