{% extends "base.html" %}

{% block content %}
	<div class=large-headline>Cohort Ethanol Tools</div>
	<br>
	{% if graph %}
		<div class="image_container">
			<div class="image_thumbnail left">
				<center>{{ graph.title }}</center>
				<a rel="plot_gallery" title="{{ graph.title }}" href="{% if graph.html_fragment %}{{ graph.html_fragment.url }}{% else %}{{ graph.image.url }}{% endif %}" target="_blank">
					<img src="{{ graph.thumbnail.url }}">
				</a>
			</div>
		</div>
	{% endif %}
	<div class=clearfix></div>
	<form action='' method='post'>
		{% csrf_token %}
		<div class=headline>{{ subject_select_form.subject.label }}</div>
		<div class=small>{{ subject_select_form.subject.help_text }}</div>
		{{ subject_select_form.subject }}
		<br><br>
{% comment %}
		<div class=headline>{{ plot_select_form.plot_method.label }}</div>
		<div class=small>{{ plot_select_form.plot_method.help_text }}</div>
		{{ plot_select_form.plot_method }}
		<br><br>
{% endcomment %}
		<div class=headline>{{ experiment_range_form.range.label }}</div>
		<div class=small>{{ experiment_range_form.range.help_text }}</div>
		{{ experiment_range_form.range }}
		<div id='dates' style='display:none;'>
			<div class='small' style="padding: 15px 0 0 30px">Leave blank to plot all available data</div>
{% comment %}			<div style="float:right"><div class='mini-headline'>{{ cohort }} Timeline</div>{% include 'matrr/__timeline.html' %}</div>      {% endcomment %}
			From:{{ experiment_range_form.from_date }} <br>
			To:{{ experiment_range_form.to_date }}
		</div>

		<br><br>
		<button type='submit' name='submit' class="blockLinkCheckoutButton">Submit</button>
	</form>



{% endblock %}
