{% extends "base.html" %}

{% block content %}
	<div class=large-headline>{% if monkey %}Monkey Protein Tools: Monkey {{ monkey }}{% else %}Monkey Protein Tools:{% endif %}</div><br>
	{% if graphs %}
		{% for graph in graphs %}
			<div class="image_container">
				<div class="image_thumbnail left">
					<a rel="plot_gallery" href="{{ graph }}" target="_blank">
						<img src="{{ graph }}" width="240px">
					</a>
				</div>
			</div>
		{% endfor %}
		<div class=clearfix></div>
	{% endif %}
	<form action='' method='post'>
		{% csrf_token %}
		<div class=headline>Cohort: {{ cohort }}<div class=right><a href="{% url tools-protein  %}">Choose another cohort</a></div></div>
		<div class=small>{{ subject_select_form.subject.help_text }}</div>
		{{ subject_select_form.subject }}
		<br><br>
		<div class=headline>{{ protein_form.proteins.label }}</div>
		<div class=small>{{ protein_form.proteins.help_text }}</div>
		{{ protein_form.proteins }}
		<button type='submit' value='Submit'>Submit</button>
	</form>



{% endblock %}
