{% extends "base.html" %}
{% block content %}
    <a href="?append=erich">Erich's plots</a>
	<br>
    <a href="?append=christa">Christa's plots</a>
	<br>
    <a href="?d3_redirect=chord">Rhesus Confederate Chord Diagrams</a>
	<br>
    <a href="?d3_redirect=adjacency">Rhesus Confederate Adjacency Matrices</a>
	<br>
    <div class="headline"></div>
	<div class=clearfix></div>
    {% for file in files %}
        <a rel="plot_gallery" href="{{ STATIC_URL }}/images/{{ append }}/{{ file }}" target="_blank">
            <img src="{{ STATIC_URL }}/images/{{ append }}/{{ file }}" width="320px">
        </a>
		{% if forloop.counter|divisibleby:2 %}
    		<div class='clearfix'></div>
		{% endif %}
	{% endfor %}

{% endblock %}
