{% extends "base.html" %}
{% block content %}
    {% if coh_images %}
        <div class=large-headline>Cohort Graph Tools</div>
        <div class=small>These are graphs whose primary subject is a single cohort.</div>
        <br>
        {% for cig in coh_images %}
            <div class="image_container">
                <div class="image_thumbnail left">
                    <a href="{{ cig.html_fragment.url }}">
                        <img src="{{ cig.thumbnail.url }}" width="240px">
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class=clearfix></div>
    {% if mky_images %}
        <div class=large-headline>Monkey Graph Tools</div>
        <div class=small>These are graphs whose primary subject is one or more monkeys.</div>
        <br>
        {% for mig in mky_images %}
            <div class="image_container">
                <div class="image_thumbnail left">
                    <a href="{{ mig.html_fragment.url }}">
                        <img src="{{ mig.thumbnail.url }}" width="240px">
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
