{% extends "base.html" %}

{% block extra_js %}
    <script src="/static/js/d3.v3.js" charset="utf-8"></script>
    <script src="/static/js/d3_plots.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <a href="?d3_redirect=chord">Rhesus Confederate Chord Diagrams</a>
	<br>
    <a href="?d3_redirect=adjacency">Rhesus Confederate Adjacency Matrices</a>
	<br>
	<div class=clearfix></div>
	<style>
        .background {
          fill: #eee;
        }

        line {
          stroke: #fff;
        }

        text.active {
          fill: red;
        }
	</style>

    {% if network_data %}
        <form method='GET' action="?plot=adjacency">
            Cohort: <select id="cohort" name='cohort'>
                <option name='cohort' value="5">INIA Rhesus 4</option>
                <option name='cohort' value="6">INIA Rhesus 5</option>
                <option name='cohort' value="10">INIA Rhesus 7a</option>
                <option name='cohort' value="9">INIA Rhesus 7b</option>
                <option name='cohort' value="all">All Rhesus Cohorts</option>
            </select>
			<input type="submit" value="Submit"> <br>
        </form>
		{% if cohorts or multiple_cohorts %}
            <p>Order: <select id="order">
              <option value="monkey">by Monkey</option>
              <option value="count">by Frequency</option>
              <option value="group">by Cluster</option>
            </select>
			<table>
				<tr style="font-size: 20px; font-weight: bold;">
                    <td bgcolor="#ff0029">VHD</td>
                    <td bgcolor="#5cff00">HD</td>
                    <td bgcolor="#008fff">MD</td>
                    <td bgcolor="#ff00bf">LD</td>
                </tr>
			    <tr>
                    <td colspan=4>Darker shading indicates more frequent co-occurences</td>
				</tr>
				<tr>
					<td colspan=4>(both monkeys participating in the same CohortBout)</td>
			    </tr>
			</table>

		{% endif %}
		{% for cohort in cohorts %}
            <div class='headline' style="">{{ cohort }} Adjacency Tests</div>
            <div id="coh_{{ cohort.pk }}" style="width:100%; padding-left:30px;">
                <script type="text/javascript">
                    draw_adjacency_matrix({{ cohort.pk }})
                </script>
            </div>
		{% endfor %}
        {% if multiple_cohorts %}
            <div class='headline' style="">{{ multiple_cohorts }} Adjacency Tests</div>
            <div id="coh_{{ multiple_cohorts }}" style="width:100%; padding-left:30px;">
                <script type="text/javascript">
                    draw_adjacency_matrix("{{ multiple_cohorts }}")
                </script>
            </div>
	    {% endif %}
	{% endif %}
{% endblock %}
