{% extends "tools/tools_base.html" %}

{% block extra_js %}
	<!-- JSON support for IE (needed to use JS API) -->
	<script type="text/javascript" src="{{ STATIC_URL }}cytoscapeweb/js/min/json2.min.js"></script>

	<!-- Flash embedding utility (needed to embed Cytoscape Web) -->
	<script type="text/javascript" src="{{ STATIC_URL }}cytoscapeweb/js/min/AC_OETags.min.js"></script>

	<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
	<script type="text/javascript" src="{{ STATIC_URL }}cytoscapeweb/js/min/cytoscapeweb.min.js"></script>

	<script type="text/javascript">
		window.onload=function() {
			// id of Cytoscape Web container div
			var div_id = "cytoscapeweb";

			// you could also use other formats (e.g. GraphML) or grab the network data via AJAX
			var networ_json = {
				data: {
					nodes: [ { id: "1" }, { id: "2" } ],
					edges: [ { id: "2to1", target: "1", source: "2" } ]
				}
			};

			// initialization options
			var options = {
				// where you have the Cytoscape Web SWF
				swfPath: "{{ STATIC_URL }}cytoscapeweb/swf/CytoscapeWeb",
				// where you have the Flash installer SWF
				flashInstallerPath: "{{ STATIC_URL }}cytoscapeweb/swf/playerProductInstall"
			};

			// init and draw
			var vis = new org.cytoscapeweb.Visualization(div_id, options);
//			vis.draw({ network: networ_json });
//			vis.draw({ network: '<?xml version="1.0" encoding="UTF-8"?> <graphml xmlns="http://graphml.graphdrawing.org/xmlns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://graphml.graphdrawing.org/xmlns http://graphml.graphdrawing.org/xmlns/1.0/graphml.xsd"> <graph id="G" edgedefault="undirected"><node id="n0"/><node id="n1"/><node id="n2"/><node id="n3"/><node id="n4"/><node id="n5"/><node id="n6"/><node id="n7"/><node id="n8"/><node id="n9"/><node id="n10"/><edge source="n0" target="n2"/><edge source="n1" target="n2"/><edge source="n2" target="n3"/><edge source="n3" target="n5"/><edge source="n3" target="n4"/><edge source="n4" target="n6"/><edge source="n6" target="n5"/><edge source="n5" target="n7"/><edge source="n6" target="n8"/><edge source="n8" target="n7"/><edge source="n8" target="n9"/><edge source="n8" target="n10"/></graph></graphml>',
			vis.draw( {{ draw_options }}
/*					edgeLabelsVisible: true,
					layout: 'Tree',
					panZoomControlPosition: 'bottomLeft',
					visualStyle: {
					global: {
					 backgroundColor: "#cccccc",
					 nodeSelectionColor: "#ffce81"
					},
					nodes: {
					 shape: "diamond"
					},
					edges: {
					 width: 2
					}
					} */
					 );
		};
	</script>
{% endblock %}

{% block content %}
	<div class=headline>Monkey {{ monkey }}</div>
	<div id="cytoscapeweb">
		Cytoscape Web will replace the contents of this div with your graph.
	</div>
	<div>
		<div class="headline small">Legend:</div>
		<b>Node shape:</b>  Circle == Female, Square == Male<br>
		<b>Node color:</b>  Gradient color, calculated on the fly given inputs.  For example, lowest lifetime ethanol consumption would be blue, highest lifetime consumption would be orange.  This value _will_ be visible to the public in the page source.<br>
		<b>Node borderColor:</b> Individually assigned color.  Could be discretized number of days of high ethanol consumption.  This value can be shown to or hidden from public in pagesource.<br>
		<b>Node borderWidth:</b> Individually assigned width, same options as borderColor.<br>
		<b>Edge color:</b> Black == Parent relationship, Gray == Offspring relationship.  Currently this is in effect randomly assigned.<br>
		<b>Edge width:</b> same options as Node borderWidth
		</div>
{% endblock %}
