{% extends "tools/tools_base.html" %}

{% block content %}
    <a href="?append=erich">Erich's plots</a>
	<br>
    <a href="?append=alex">Alex's plots</a>
	<br>
    <a href="?append=etoh_bec_correlation">BEC ~ EtOH Correlation plots</a>
	<br>
    <a href="?append=habitual_drinking">Habitual Drinking plots</a>
	<br>
    <a href="?append=pablo">Pablo's plots</a>
	<br>
    <a href="?append=mense_f_monkeys">Mense plots</a>
	<br>
    <a href="?append=kathy">Kathy's plots</a>
	<br>
    <a href="?append=christa">Christa's plots</a>
	<br>
    <a href="?append=christa_pca">Christa's PCA plots</a>
	<br>
    <a href="?append=jon">Jon's plots</a>
	<br>
    <a href="?append=confederates">Confederate plots</a>
	<br>
    <a href="?append=pca_figures">PCA Figures</a>
	<br>
    <a href="?append=oscar">EtOH Volume since pellet</a>
	<br>
    <a href="?append=paul">Monkey nighttime drinking</a>
	<br>
    <a href="?append=mtd_columns_by_category">All daily summary features, compared by category</a>
	<br>
    <a href="?append=sam">exploratory cumulative summation plots</a>
	<br>
    <a href="?append=Cohort2EphysNecropsyScatterplotData">INIA Cyno 2 Ephys vs Necropsy plots</a>
	<br>
   <a href="?append=PARC">Portland Alcohol Research Center</a>
        <br>
     <div class="headline"></div>
	<div class=clearfix></div>
    {% for file in files %}
        <a rel="plot_gallery" href="{{ STATIC_URL }}/images/{{ append }}/{{ file }}" target="_blank">
            <img src="{{ STATIC_URL }}/images/{{ append }}/{{ file }}" width="320px">
        </a>
		{% if forloop.counter|divisibleby:2 %}
    		<div class='clearfix'></div>
		{% endif %}
	{% endfor %}

{% endblock %}
