{% with tissue_request=form.instance %}
	<div style="float:left; width:100%">
	{% for datum in tissue_request.get_data %}
		{% if forloop.counter == 1 %}
			<div class="headline">{{ datum.0 }}: {{ datum.1 }}</div>
			{% comment %}
			<div style="float:left; color: #4E4E4E;">
				{% include 'matrr/review/item_availability.html' %}
				{% include 'matrr/review/item_inventory.html'%}
			</div>
			{% endcomment %}
		{% else %}
			<div style="float:right; text-align: right; color: #4E4E4E; clear:right; width:25%; border:black 5px">{{ datum.0 }} : {{ datum.1 }}</div>
		{% endif %}
	{% endfor %}

	{% if tissue_request.rtt_notes %}
		<b>Tissue Request Notes: </b> <font size="-1">{{ tissue_request.rtt_notes }}</font><br>
	{% endif %}
	<br>
	<table class='reviews_table'>
		<tr>
			<th>Reviewer</th>
			<th>Scientific Merit</th>
			<th>Quantity</th>
			<th>Priority</th>
			<th>Notes</th>
		</tr>
		{% for tissue_request_review in tissue_request.sorted_tissue_request_reviews %}
			<tr>
				<td>{{ tissue_request_review.review.user }}</td>

				{% if tissue_request_review.is_finished %}
					<td class='review-color-{{ tissue_request_review.get_merit }}'>
						{{ tissue_request_review.get_merit }}
					</td>
				{% else %}
					<td class='review-color-incomplete'></td>
				{% endif %}

				{% if tissue_request_review.is_finished %}
					<td class='review-color-{{ tissue_request_review.quantity_css_value }}'>
						{{ tissue_request_review.get_quantity }}
					</td>
				{% else %}
					<td class='review-color-incomplete'></td>
				{% endif %}

				{% if tissue_request_review.is_finished %}
					<td class='review-color-{{ tissue_request_review.get_priority }}'>
						{{ tissue_request_review.get_priority }}
					</td>
				{% else %}
					<td class='review-color-incomplete'></td>
				{% endif %}

				{% if tissue_request_review.is_finished %}
					<td style='text-align: left'>
						<font size="-1">{{ tissue_request_review.get_notes }}</font>
					</td>
				{% else %}
					<td class='review-color-incomplete'></td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	</div>
	<div class='clearfix'></div>
{% endwith %}