{% extends 'base.html' %}

{% block content %}
	<div class='large-headline'>
		{% block title %}Review history{% endblock %}
	</div>
	{% if req_requests.count == 0 %}
		<div class="messages">
			<div class="info">
				There are no old reviews.
			</div>
		</div>
		{% else %}
	
		<table class='common_center' cellpadding='4' cellspacing='2'>
			<tr>
				<th>Request</th>
				<th>Cohort</th>
				<th>User</th>
				<th>Date Modified</th>
				
					<th>Request Status</th>
				
			</tr>
			{% for req_request in req_requests.object_list %}
				<tr>
					<td><a href='{% url order-detail req_request.pk %}'>{{ req_request.pk }}</a></td>
					<td nowrap>{{ req_request.cohort.coh_cohort_name }}</td>
					<td><a href='{% url account-reviewer-view req_request.user.id %}'>
						{% if req_request.user|lower == 'dummy_user_for_past_requests' %}Generic User
							{% else %}{{ req_request.user }}
						{% endif %}</a></td>
					<td nowrap>{{ req_request.req_modified_date|date:"m/d/Y, g:i a" }}</td>

							<td align="center" id="{{ req_request.req_status|lower }}">{{ req_request.get_req_status_display }}</td>
			

					<td><a href='{% url review-overview req_request.req_request_id %}' class='blockLinkButton'>Overview</a></td>
				</tr>
			{% endfor %}
		</table>
	<center>
	<br/>	
					{% load inclusion_tags %}
				{% pagination req_requests %}
	</center>
	
	{% endif %}





{% endblock %}