<div style='width: {{ bigWidth|add:"60" }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
</div>
<div>
	<center>
		<img src="{{ image.image.url }}"><br>
	</center>
</div>
<div style='width: {{ bigWidth }}px; margin:auto;'>
    <b>Cohort Cumulative Daily Max Bout, Day count over 3 g/kg.</b> This graph shows two panels comparing each monkey's induction ethanol intake behavior
    as compared to its lifetime ethanol intake pattern.  The left panel shows the cumulative summation of the size of the maximum bout of each day during
    stage 3 of induction, 1.5 g/kg quota of ethanol.  The right panel shows the simple bar graph visualizing the number of days the monkey consumed more
    than 3 g/kg of ethanol during the Open Access stage of the experiment.  Each bar is aligned with the cumulative summation line graph for which the
    monkey is responsible.
</div>
