<div style='width: {{ bigWidth|add:"60" }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
</div>
<div>
	<center>
		<img src="{{ image.image.url }}" ismap usemap="#{{ image.monkey.pk }}"><br>
	</center>
</div>
<div style='width: {{ bigWidth }}px; margin:auto;'>
    <b>Daily ethanol cumulative summation for {{ image.monkey.pk }}.</b> This graph shows the monkey's ethanol intake over time
	for each stage of induction.  Each colored section represents a day of induction.  The line illustrates the monkey's
	ethanol consumption over time until reaching the allotted volume for the day. Granularity of drinking events is by second.
</div>

{% if map %}
	<map name='{{ image.monkey.pk }}'>
	{% for point in map %}
		<area shape='circle' coords='{{ point.1 }}, {{ point.2 }}, 5' href="{%  url 'tools-etoh-mtd' point.0  %}" target='_blank'>
	{% endfor %}
	</map>
{% endif %}

