
<div style='width: {{ bigWidth|add:"60" }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
</div>
<div>
	<center>
		<img src="{{ image.image.url }}" ismap usemap="#{{ image.monkey.pk }}"><br>
	</center>
</div>
<div style='width: {{ bigWidth }}px; margin:auto;'>
    <b>Detailed drinking pattern for {{ image.monkey.mky_id }}.</b> Each dot represents three measurements when the blood sample was taken.
	The Y axis is the Blood Ethanol Concentration (BEC), in mg %, in the blood sampled.
	The size of each dot represents the ethanol consumed, in g/kg, up to the sample time.
    The color of the each dot represents the ethanol consumed at sample time as a percentage of the total ethanol intake that day.
</div>
