{% extends "base.html" %}
{% load inclusion_tags %}

{% block title %}Brain Inventory for monkey {{ monkey }}{% endblock %}


{% block content %}
	<div class='headline'>Brain Inventory for Monkey {{ monkey }}</div>

	<div class=left>
		<a href="{% url inventory-brain-cohort monkey.cohort.pk %}">
			<img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
			&nbsp;View Cohort Brain Inventory List</a>
		<br/>
	</div>
	<form action='' method='post'>
		{% csrf_token %}
	    <div class="clearfix"></div>
        <table class="common_right">
            <th colspan="3"><center>Select Tissue Type: {{ brain_form.block }}</center></th>
            <tr>
                <td><span class="headline">Left Hemisphere</span><br>
                    {{  brain_form.left_tissues }}
                </td>
                <td class="text-center-common-td">
                    <a rel="plot_gallery" href="{{ brain.html_fragment.url }}" target="_blank">
                        <img src="{{ brain.image.url }}" width=300>
                    </a>
                </td>
                <td><span class="headline">Right Hemisphere</span><br>
                    {{  brain_form.right_tissues }}
                <td>
            </tr>
        </table>
		<div class="clearfix"></div>
		<button type='submit' name='submit' class="blockLinkCheckoutButton">Submit</button>
	</form>
	<div class='headline'> </div>

	<div class=left>
		<a href="{% url inventory-brain-cohort monkey.cohort.pk %}">
			<img src="{{ STATIC_URL }}/images/goto.png" width='12' height='12'>
			&nbsp;View Cohort Brain Inventory List</a>
		<br/>
	</div>
{% endblock %}