<div style='max-width: {{ bigWidth }}px; max-height: 75%; margin:auto; padding: 10px'>
	<center>{{ monkeyimage.title }}</center>
	<div class="image_container" style='max-height: 75%;'>
		<center><img height="700" src="{{ monkeyimage.image.url }}"></center><br>
		<b>Average Ethanol Intake for Monkey {{ monkeyimage.monkey.mky_real_id }}.</b> The green line represents the average Ethanol intake for this individual monkey, grouped by month. Green error bars are set to one standard deviation from the mean. The underlying box plot represents the monthly average, standard deviation and outlying data points of the comparison cohort.
	</div>
</div>