<div style='max-width: {{ bigWidth }}px; max-height:85%; margin:auto; padding: 10px'>
	<center>{{ monkeyimage.title }}</center>
	<div style='height: {{ monkeyimage.image.height }}; width: {{ monkeyimage.image.width }}'>
		<center><img src="{{ monkeyimage.image.url }}"></center><br>
		<b>Total Pellets for Monkey {{ monkeyimage.monkey.mky_real_id }}.</b> The green line represents the average pellets for this individual monkey, grouped by month.
		Green error bars are set to one standard deviation from the mean.
		The underlying box plot represents the monthly average, standard deviation and outlying data points of the comparison cohort.
	</div>
</div>