<div style='max-width: {{ bigWidth }}px; max-height:85%; margin:auto; padding: 10px'>
	<center>{{ monkeyimage.title }}</center>
	<div style='height: {{ monkeyimage.image.height }}; width: {{ monkeyimage.image.width }}'>
		<img src="{{ monkeyimage.image.url }}"><br>
		<b>Weights for Monkey {{ monkeyimage.monkey.mky_real_id }}.</b> The green line represents the measured weight for this individual monkey on the indicated date. The underlying box plot represents the weight of the comparison cohort for that date.
	</div>
</div>