{% extends "base.html" %}

{% block title %}
	MATRR Data Download
{% endblock %}

{% block content %}
    <div class=large-headline>Data Download</div>
	<br>
	<div class=clearfix></div>
	<form action='' method='post'>
		{% csrf_token %}
		<div class=headline>{{ subject_select_form.subject.label }}</div>
		<div class=small>{{ subject_select_form.subject.help_text }}</div>
		{{ subject_select_form.subject }}
		<br>
		<button type='submit' name='submit' class="blockLinkCheckoutButton">Submit</button>
	</form>



{% endblock %}
