{% extends "base.html" %}

{% block title %}
	MATRR Data Download
{% endblock %}

{% block content %}
    <div class=large-headline>Data Download</div>
    This page allows priveleged users to download experiment data directly from the MATRR database.  Exported data will be exported into a
    comma-separated-values (CSV) spreadsheet.  These CSVs will be available from your account page.
    <br><br>
    Be aware, only the most current exported data will be available on your account page.  Should you export a sufficiently similar dataset, the
    new dataset will overwrite the older CSV holding similar data.  Because of this, it is recommended you download the CSV from your account
    page before creating and downloading more data.
    <br><br>
    <form action='' method='post'>
        {% csrf_token %}
        <div class=headline>Data Type</div>
        <div class=small>{{ data_form.data_type.help_text }}</div>
        <div class=clearfix></div>
        {{ data_form.data_type }}
        <div class=clearfix></div><br>
        <button type='submit' class="left blockLinkToolsButton">Next</button>
    </form>
{% endblock %}
