{% extends "base.html" %}

{% block extra_js %}
{% endblock %}

{% block content %}
	<div class='large-headline'>Build Your Own MATRR Graph</div><br>
	{% if mky_keys  %}
		<div  class='right' style='max-width: 49%'>
			<div class='headline'>Monkey Graphs</div><br>
			<table>
				<tr>
					<th>Example Thumbnail</th>
					<th>Description</th>
				</tr>
			{% for key in mky_keys %}
				<tr align="center">
					<td><img src='{{ key.1.thumbnail.url }}'></td>
					<td>
						{{ key.2 }}<br><br>
						<form action='' method='post'>
							{% csrf_token %}
							<button type='submit' name='{{ key.0 }}' class="blockLinkCheckoutButton">Build Graph</button>
						</form>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
	{% if coh_keys  %}
		<div class='left' style='max-width: 49%'>
			<div class='headline'>Cohort Graphs</div><br>
			<table>
				<tr>
					<th>Example Thumbnail</th>
					<th>Description</th>
				</tr>
			{% for key in coh_keys %}
				<tr align="center">
					<td><img src='{{ key.1.thumbnail.url }}'></td>
					<td>
						{{ key.2 }}
						<form action='' method='post'>
							{% csrf_token %}
							<button type='submit' name='{{ key.0 }}' class="blockLinkCheckoutButton">Build Graph</button>
						</form>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
{% endblock %}
