<!-- Header -->
<div style='margin:auto'>
	<h1>Tissue Verification Form</h1>
	User: {{ user }}<br>
	Created on: {{ date }}
</div>
<h3>Tissues to verify:</h3>
{% for tiv in tiv_list %}
	{% if forloop.counter|divisibleby:"8" %}
		<div>
		  <pdf:nextpage />
		</div>
	{% endif %}
	<hr>
	<table style='page-break-after:avoid'>
		<tr><th style='width:90px; text-align:left'>Monkey</th><td>{{ tiv.monkey }}</td><th style='width:90px; text-align:left'>Tissue:</th><td>{{ tiv.tissue_type }}</td></tr>
		<tr><th style='width:90px; text-align:left'>Freezer</th><td>{{ tiv.tissue_sample.tss_freezer }}</td><th style='width:90px; text-align:left'>Current Quantity</th><td>_______________</td></tr>
		<tr><th style='width:90px; text-align:left'>Location</th><td>{{ tiv.tissue_sample.tss_location }}</td><th style='width:90px; text-align:left'>Units</th><td>micrograms | milligrams | grams | whole</td></tr>
		<tr><th style='width:90px; text-align:left'>Current Fix</th><td colspan=3>Fresh | Flash Frozen | 4% Paraformaldehyde | Other</td></tr>
		<tr><th style='width:90px; text-align:left'>Tissue Details</th><td colspan=3>{{ tiv.tissue_sample.tss_notes }}</td></tr>
		<tr><th style='width:90px; text-align:left'>Inventory is</th><td>Sufficient | Insufficient</td><th colspan=2 style='text-align:left'>to fill a for request {{ tiv.tissue_request.get_amount }}.</th>
	</table>
{% endfor %}
