<div class='left'>
<a href="{% url 'tools-confederates-chord' %}">Rhesus Confederate Chord Diagrams</a>
<br>
<a href="{% url 'tools-confederates-adjacency' %}">Rhesus Confederate Adjacency Matrices</a>
<br>
</div>

<div class='right'>
<table>
    <tr style="font-size: 20px; font-weight: bold;">
        <td bgcolor="#FF0000">VHD</td>
        <td bgcolor="#FF6600">HD</td>
        <td bgcolor="#008000">MD</td>
        <td bgcolor="#0052CC">LD</td>
    </tr>
    <tr>
        <td colspan=4>Darker shading indicates more frequent co-occurences</td>
    </tr>
    <tr>
        <td colspan=4>(both monkeys participating in the same CohortBout)</td>
    </tr>
</table>
</div>
<div class=clearfix></div>
<div class="headline"></div>
<br>
