{% extends "base.html" %}

{% block extra_js %}
    <script src="/static/js/d3.v3.js" charset="utf-8"></script>
    <script src="/static/js/d3_plots.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
    {% include "matrr/tools/confederates/_confederates_menu.html" %}
	<div class=clearfix></div>
	<style>
		.circle circle {
			fill: none;
			pointer-events: all;
		}

		.group path {
			fill-opacity: .5;
		}

		path.chord {
			stroke: #000;
			stroke-width: .25px;
		}

		.circle:hover path.fade {
			display: none;
		}
	</style>

	{% if chord_data %}
        <form method='GET'>
        Min Confidence: <input type="text" name="min_conf"><br>
        Include NtoN relationships: <input type="checkbox" name="NtoN"> <input type="submit" value="Submit"> <br>
        </form>
        {% for data in chord_data %}
            <div id="coh_{{ data.cohort.pk }}" style="width: 70%;">
                <center><h3>{{ data.cohort }} Confederate Drinkers</h3></center>
                <script type="text/javascript">
                    draw_chord_plot({{ data.cohort.pk }}, {{ data.dataset }}, {{ data.labels_colors }})
                </script>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
