{% extends "base.html" %}

{% block title %}
	MATRR Browser Support
{% endblock %}

{% block content %}

	<div class='center-content'>
	<div id='large-headline'>MATRR Browser Support Requirements and Information</div>
	<p> Due to its inconsistent compatibilities with web standards, Microsoft's Internet Explorer is specifically not support by MATRR.</p>

	<p> MATRR developers use Google Chrome (<a href='http://www.google.com/chrome/'>website</a>) and Mozilla Firefox (<a href='http://www.mozilla.com/en-US/firefox/fx/'>website</a>)
		when developing and testing this site. Both browsers are free, each fully supporting all aspects of this research site at the time of this writing. </p>

	<div id=headline>Possible Solutions</div>
	<p> Chrome provides a plugin for Internet Explorer which will run the Chrome browser within Internet Explorer. This may help IE users navigate and use the MATRR website.
	Currently Chrome frame is running correctly on our <a href="http://gleek.ecs.baylor.edu">university based domain</a>,
	after Chrome frame installation, please do not forget to restart your browser and switch to the <a href="http://gleek.ecs.baylor.edu">university based domain</a>. We are working on Chrome-frame activation on www.matrr.com as well.</p>

	<p><a href='http://www.google.com/chromeframe'>Chrome Frame is available here.</a></p>

	<p> Chrome and Firefox both have extensions which allow an instance of Internet Explorer to be run within one of their tabs. While still not supported, these may assist users seeking to
		transition from Internet Explorer more permanently.</p>

{% endblock %}
</div>