{% extends "base.html" %}

{% block title %}
	MATRR Frequently Asked Questions
{% endblock %}

{% block content %}

	<div class='center-content'>
		<div id='large-headline'>Frequently Asked Questions</div>
		<ul>
			<li><a href="#CreateAccount">How to Create an Account</a></li>
			<li><a href="#TissueQuantities">Tissue Quantities for the MATRR website</a></li>
			<li><a href="#SubmitRequest">How to Submit a Request</a></li>
		</ul>

		<div class="headline"><a name="CreateAccount">How to Create an Account</a></div>
		<br>
		<center>
			<iframe width="640" height="464" src="http://www.youtube.com/embed/l628ayzw118" frameborder="0"></iframe>
		</center>
		<div class="headline"><a name="TissueQuantities">Tissue Quantities for the MATRR website</a></div>
			<p>Tissue quantities should be based on amounts that are typically used in the assay of choice. For example, if 25 mg wet weight is necessary for conducting a particular assay in a rodent species, then 25 mg of nonhuman primate tissue should also be adequate to conduct the assay in the regions of interest.

			<p>If the investigator has not performed a specific assay in nonhuman primate tissues, then the PI should request tissues for “developmental” assays. This request can be made through the MATRR website. Additionally, occasionally a particular assay has not been characterized in nonhuman primate tissue. This is another instance in which the PI can request “developmental” tissues in order to better characterize the assay in their laboratory. Again, the request should be made through the MATRR site.  Once the assay has been successfully conducted in nonhuman primate tissue, then the recipient PI can make better informed requests for particular regions of interest.

			<p>If a PI is unsure how much tissue may be needed for a particular assay, additional correspondence should occur with the PIs of the MATRR. Should this be the case, the requesting PI should contact Dr. Daunais by email at <a href='emailto:jdaunais@wfubmc.edu'>jdaunais@wfubmc.edu</a>.

			<div class='mini-headline'>For RNA and DNA:</div>
			<p>If the request is for RNA, it is the policy of the MATRR that RNA is isolated through the MATRR and distributed in the amount requested, plus an additional amount in order for the recipient PI to conduct quality control. Total RNA will be isolated as described previously (Hemby et al., 2005; O’Conner et al., 2006).
			<p>Following RNA isolation, the sample integrity will be assessed by capillary gel electrophoresis with the Agilent Bioanalyzer 2100 and RNA 6000 NanoLabChips (Agilent, Palo Alto, CA). Total RNA concentration will be determined by UV spectrophotometric analysis (A260/A280 ratio; Nanodrop 1000, Wilmington, DE). Additional steps of quality control are met by the recipient and we will request any quality control measures taken by the recipient to be included in the annual progress report.

		<div class="headline"><a name="SubmitRequest">How to Submit a Request</a></div>
		<br>
		<center>
			<iframe class="youtube-player" type="text/html" width="640" height="520" src="http://www.youtube.com/embed/o_KESlnqVog" frameborder="0" allowfullscreen></iframe>
		</center>
	</div>

{% endblock %}
