{% extends "base.html" %}

{% block title %}
	MATRR Frequently Asked Questions
{% endblock %}

{% block content %}

	<div class='center-content'>
		<div id='headline'>Frequently Asked Questions</div>
		<ul>
			<li><a href="#SubmitRequest">How to Submit a Request</a></li>
		</ul>

		<div class="mini-headline"><a name='SubmitRequest'>How to Submit a Request</a></div>
		<br>
		<center>
			<iframe class="youtube-player" type="text/html" width="640" height="520" src="http://www.youtube.com/embed/ePeG9zOp20E" frameborder="0"></iframe>
		</center>
	</div>

{% endblock %}
