{% extends "base.html" %}

{% block title %}
	MATRR Biohazard Safety Policy
{% endblock %}

{% block content %}

	<div class='center-content'>
		<div class='large-headline'>Shipment of Potential Biohazards</div>
		<p>All fresh or frozen samples of tissue or fluids from nonhuman primates are potentially contaminated with pathogens.  Potential pathogens present in macaque tissue are not limited to B virus and may include such agents as parasites, bacteria, or other viruses that are known or potential threats to people yet may be carried by primates with no apparent adverse health effects.</p>

<p>No samples of nonhuman primates known to be sick or carriers of pathogens are shipped from the Oregon National Primate Research Center.  However, the Center does not analyze samples for pathogens and no samples should be assumed to be pathogen free.  Shipment of tissues from the Oregon National Primate Research Center carries no warranty, express or implied, that the samples are free of biohazards.</p>

<p>Prudence dictates that ALL nonhuman primate tissues and fluids be handled as though pathogenic agents were present.  Recipients of samples who are unfamiliar with accepted procedures may wish to seek advice regarding personal protective equipment and training.</p>

<p>To receive a fresh or frozen nonhuman primate sample from the Oregon National Primate Research Center, you must acknowledge potential associated risks. MATRR administrators reserve the right to request written verification of this acknowledgement</p>

	</div>

{% endblock %}