{% extends "base.html" %}
{% load i18n %}


{% block content %}

	<div class="content-item">
		<div id="headline">Material Transfer Agreement (MTA)</div>
		{% if form.errors %}
			<div class="messages">
				<div class="error">
					{% for field in form %}
					{% if field.errors %}
					{{ field.label_tag }}:
						{% for error in field.errors %}
							 {{ error }}
						{% endfor %}
					{% endif %}
					{% endfor %}
					
				</div></div>
		{% endif %}

		<form method="post" action="">
			{% csrf_token %}
			<br>
			{{ form }}
			<div class="table-right">
				<button type='submit' class="blockLinkCheckoutButton">Submit</button>
			</div>
		</form>
	</div>


{% endblock %}