{% extends "base.html" %}
{% load i18n %}


{% block content %}

	<div class="content-item">
		<div id="headline">Material Transfer Agreement (MTA)</div>
		<br>
		<div class='center-content'>
			<p>
				The UBMTA agreement is used by MATRR when releasing tissues.  Many institutions are already signatories to this agreement.  If your institution in is the alphabetically-sorted list below
				please choose your institution and you will be eligible to receive tissue shipments.  If your institution has not signed a UBMTA agreement, or you are ordering tissues from a Wake Forrest cohort,
				please choose "Non-UBMTA Institution" from the list follow the additional instructions.  <br><br>The UBMTA text can be found <a href="{{ STATIC_URL }}docs/ubmta.doc">here.</a>
			</p>
		</div>
		{% if form.errors %}
			<div class="messages">
				<div class="error">
					{% for field in form %}
					{% if field.errors %}
					{{ field.label_tag }}:
						{% for error in field.errors %}
							 {{ error }}
						{% endfor %}
					{% endif %}
					{% endfor %}
					
				</div></div>
		{% endif %}

		<form method="post" action="">
			{% csrf_token %}
			<br>
			{{ form }}
			<div class="table-right">
				<button type='submit' class="blockLinkCheckoutButton">Submit</button>
			</div>
		</form>
	</div>


{% endblock %}