{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% block extra_js %}{% endblock %}
<link rel="shortcut icon" href="{{ STATIC_URL }}images/matrr_favicon.ico" />
<title>{% block title %}{% endblock %}</title>

</head>

<body>
<!-- Header div -->
<div class='header'>
<div class='header-content clearfix'>
<div class='left'>
<a href='/'><img src="{{ STATIC_URL }}images/MATRR_logo.png" alt="MATRR logo"/></a>
</div>
<div class='right'>
	{% if not user.is_authenticated %}
	<a style='color: #FAF9ED' href="{{ SITE_ROOT }}/accounts/login?next={{ request.path }}">Login</a> |
	<a style='color: #FAF9ED;' href="{{ SITE_ROOT }}{% url registration_register %}?next={{ request.path }}">
    Create an Account</a>
	{% else %}
	Welcome {{ user.username }} | <a style='color: #FAF9ED' href="{{ SITE_ROOT }}/logout/">Logout</a>
	{% endif %}
</div>
</div>
</div>
<!-- Menu div -->
<div class='navigation clearfix'>
<div class='navigation-content'>
	<div class="nav clearfix">
{% block nav-list %}
    <ul>
			<li class='top'><a href="{{ SITE_ROOT }}/">Home</a></li>
    </ul>
	  {% if user.is_authenticated %}
      <ul>
			  <li class='top'><a href="{{ SITE_ROOT }}/account/">My Account</a></li>
			  <li class='drop-down'><a href="{{ SITE_ROOT }}/orders/">My Orders</a></li>
      </ul>
      {% endif %}
      {% if user.is_staff %}
      <ul>
        <li class='top'><a href="{{ SITE_ROOT }}/admin/">Admin</a></li>
      </ul>
      {% endif %}
      {% if user_is_member_of_committee or user_is_member_of_superuser %}
      <ul>
        <li class='top'>
          <a href="{{ SITE_ROOT }}/reviews/">Reviews</a>
        </li>
          {% if user_is_member_of_superuser %}
            <li class='drop-down'><a href="{{ SITE_ROOT }}/reviews_overviews/">Reviews Overview</a></li>
          {% endif %}
      </ul>
      {% endif %}
      {% if user_is_member_of_committee or user_is_member_of_superuser or user_is_member_of_tech_user %}
       <ul>
         <li class='top'>
           <a href='{{ SITE_ROOT }}/shipping_overview'>Shipping Overview</a>
         </li>
       </ul>
      {% endif %}
{% endblock %}
	</div>

</div>
</div>
<!-- Body div -->
<div class='page-content clearfix'>
<!-- Message div -->
<div class='messages clearfix'>
{% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
  {% endfor %}
{% endif %}
</div>
<!-- Sidebar div -->
<div class='sidebar clearfix'>
{% block sidebar %}

{% block login %}

<div class='sidebar-block'>
{% if not user.is_authenticated %}
	<div class='headline'>
	Login
	</div>
	{% include 'login.form' %}
	<a href="{{ SITE_ROOT }}{% url registration_register %}">Create an Account</a>
{% else %}
	Welcome {{ user.username }}
{% endif %}
</div>

{% endblock %}
{% block cart %}
{% if user.is_authenticated %}
  {% if cart_items != None %}
    {% include 'matrr/cart/cart.html' %}
  {% endif %}
{% endif %}
{% endblock %}
<div class='sidebar-block'>
<div class='headline'>
Quick Links
</div>
<a href="{{ SITE_ROOT }}/available">Request Archival Tissue</a><br/>
<a href="{{ SITE_ROOT }}/upcoming">Request Upcoming Tissue</a><br/>
<a href="{{ SITE_ROOT }}/mta/upload">Upload an MTA</a><br/>
<a href="{{ SITE_ROOT }}/account">Submit Research Updates</a>
</div>

<div class='sidebar-block'>
<div class='headline'>
FAQ/Help
</div>
<a href="{{ SITE_ROOT }}/benefits">Account Benefits</a><br/>
<a href="{{ SITE_ROOT }}/contact_us">Contact Us</a>
</div>

{% block warning %}{% endblock %}

{% endblock %}
</div>

<!-- Content div -->
<div class='content clearfix'>

{% block content %}{% endblock %}

<!-- End of content div -->
</div>


</div>
<!-- Footer div -->
<div class='footer clearfix'>
{% block footer %}

<div class='footer-line'></div>
	<div class='footer clearfix'>
The Monkey Alcohol and Tissue Research Resource (MATRR) is supported by <a href="http://www.niaaa.nih.gov">NIAAA</a> as an R24. This site is maintained by <a href="mailto:erich_baker@baylor.edu">Erich Baker</a>. For applicable policies see our <a href="{{ SITE_ROOT }}/privacy">privacy</a>, <a href="{{ SITE_ROOT }}/data">data sharing</a>, and <a href="{{ SITE_ROOT }}/usage">usage</a> documents.
	</div>

{% endblock %}
</div>

</body>

</html>

{% endspaceless %}