{% extends "base.html" %}

{% block content %}
    <center>
        <h2>
            You are invited to the first Symposium on Data Integration from the Monkey Model of Alcohol Drinking<br>
        </h2>
        <h3>
            September 7th – 9th 2014<br>
            Portland, OR<br>
        </h3>
        <h2 style="color:red">
            REGISTRATION CLOSES FRIDAY AUGUST 1ST 2014
        </h2>
    </center>

    <div class="headline">Meeting Information</div>
    <div class="mini-headline">Agenda:</div>
    The full Agenda can be found <a href="{{ STATIC_URL }}pdf/MATRR_Symposium_Agenda.pdf">here</a>. This will be updated as speakers are confirmed.
    The symposium will be held at 2 sites. The base location will be the <a href="http://hotellucia.com/">Hotel Lucia</a> in downtown Portland, Oregon
    and the first full day of scientific sessions will be held at the
    <a href="http://www.ohsu.edu/xd/research/centers-institutes/onprc/">Oregon National Primate Research Center (ONPRC)</a>.<br>
    <br>
    <div class="mini-headline">Poster Session:</div>
    The poster session will be held on Monday September 8th and provides an informal venue for researchers and graduate students to present
    work of interest to the attending community. This may include recent unpublished or published work, prospective studies on analytics,
    or potential future MATRR collaborations. Each invited attendee is strongly encouraged to support at least one poster. <br>
    <br>
    <div class="headline">Travel Information</div>
    <div class="mini-headline">Travelling from out of town:</div>
    If you are coming from out of town the local airport is <a href="http://www.portofportland.com/pdx_home.aspx?ep=94b712b2577f461baddde1d9e6e127df">
    Portland International Airport</a>. A block of rooms has been reserved at our host hotel, the <a href="http://hotellucia.com/">Hotel Lucia</a>,
    in downtown Portland. If you will need a room please indicate as such on your registration form. All rooms will be booked by Louise Sacha – there
    is no need to contact the hotel directly. The Hotel Lucia is located in downtown Portland (<a href="https://www.google.com/maps/place/400+SW+Broadway/@45.52112,-122.6783752,17z/data=!3m1!4b1!4m2!3m1!1s0x54950a0412be002b:0xccad0177011d60f4?hl=en">
    400 SW Broadway, Portland, OR 97205</a>). This site is approximately a 30-60 minute drive (depending on traffic), or 45-minute <a href="http://trimet.org/max/">
    light rail ride</a> from the Portland International Airport. All out-of-town guests will be housed in this hotel, and it will also be the site
    of our opening reception on Sunday September 7th as well as our meetings during the day on Tuesday September 9th. Guests staying at the Hotel
    Lucia will be transported by a prearranged shuttle to/from ONPRC on Monday September 8th.<br>
    <br>
    <u>If anyone misses the shuttle they can reach ONPRC via the light rail system (www.trimet.org/max).</u><br>
    <br>
    <div class="mini-headline">Local attendees:</div>
    Please make your own way to the symposium sites. Parking at Hotel Lucia may be limited and is not reserved for our group. Parking at the
    ONPRC is available and free of charge. ONPRC is a secure facility and controlled by a guarded gate. You will be asked to provide proof of ID in
    order to enter the facility.<br>
    <br>
    <div class="mini-headline">Registration:</div>
    All attendees are required to complete the registration form. Registration closes on Friday August 1st.  Participants are charged a registration
    fee of $50 for Faculty and $25 for students. This must be paid via check payable to "OHSU" and received by Friday, August 8th. <br>
    <br>
    Please mail the check to:<br>
    Louise C. Sacha<br>
    Grants & Contracts Coordinator<br>
    Oregon Health & Science University<br>
    Oregon National Primate Research Center<br>
    Division of Neuroscience, L584<br>
    505 NW 185th Avenue<br>
    Beaverton, Oregon 97006<br>
    <br>
    <center>
        <a href="{% url 'symposium-registration' %}"><button class="blockLinkToolsButton">Register for symposium</button></a>
    </center>
    <br>
    <div class="headline">Locations:</div>
    <div class="clearfix"></div>
    <div class="left">
        Hotel Lucia<br>
        400 SW Broadway<br>
        Portland, OR 97205<br>
        <a href="https://www.google.com/maps/place/400+SW+Broadway/@45.52112,-122.6783752,17z/data=!3m1!4b1!4m2!3m1!1s0x54950a0412be002b:0xccad0177011d60f4?hl=en">
            Directions
        </a>
    </div>
    <div class="right">
        Oregon National Primate Research Center<br>
        505 NW 185th Avenue<br>
        Beaverton, OR 97006<br>
        <a href="https://www.google.com/maps/place/505+NW+185th+Ave/@45.5241853,-122.875299,17z/data=!3m1!4b1!4m2!3m1!1s0x54950f0de015ec61:0xe60e4ed961f7c347?hl=en">
            Directions
        </a>
    </div>
    <div class="clearfix"></div>
    <br>
    <hr>
    <center>
        Questions can be directed to Louise Sacha at <a href="mailto:sachal@ohsu.edu">sachal@ohsu.edu</a> or (503) 690-5214<br>
    </center>
{% endblock %}
