{% extends "base.html" %}

{% block content %}
    <div class="headline">Speakers</div>
    The goals of the symposium are to develop strategic and tactical approaches for data collection, integration, and analysis.
    In order to facilitate these goals, short presentations (15 minutes) from diverse research domains will provide an overview
    of the types of core data produced by those domains. These presentations are envisioned to capture the scope and potential
    interactions of data resources across participants in the MATRR and will form the core for prioritizing how the MATRR moves
    forward with data integration and analytics. <br>
    <br>
    <div class="mini-headline">Topics:</div>
    We request that presentations address the following questions, giving examples where appropriate:<br>
    <ul>
        <li>
            Which tissues and tissue preparations are typically used in your lab?
        </li>
        <li>
            What are the types of Raw and Processed data produced by your lab in a typical course of experimentation? What are the primary dependent and independent variables?
        </li>
        <li>
            What types of analysis has your lab conducted in the past with different research domains associated with the MATRR? For example, correlations study between drinking behavior and fMRI data.
        </li>
        <li>
            How have you interacted with MATRR in the past?
        </li>
        <li>
            (Optional) How do you envision using MATRR as a data resource?
        </li>
    </ul>
    Presentations are not intended to convey research discoveries or research agenda outside the context of data integration.<br>
    <br>
    <div class="headline">Posters</div>
    Posters are intended to highlight how tissues and data are incorporated into your research. They should capture the
    scope and potential interactions of data resources across participants in the MATRR and will form the core for
    prioritizing how the MATRR moves forward with data integration and analytics. <br>
    <br>
    You need to send the title of their poster and list of authors to Louise Sacha via email (<a href="mailto:sachal@ohsu.edu">sachal@ohsu.edu</a>)
    by August 8th. We will will compile a listing to then post on the website.<br>
    <br>
    <div class="mini-headline">Topics:</div>
    We request that posters address the following questions, giving examples where appropriate:
    <ul>
        <li>
            Which tissues and or preparations are typically used in your lab?
        </li>
        <li>
            What are the types of Raw and Processed data produced by your lab in a typical course of experimentation? What are the primary dependent and independent variables?
        </li>
        <li>
            What types of analysis has your lab conducted in the past with different research domains associated with the MATRR? For example, a correlation study between drinking behavior and fMRI data.
        </li>
        <li>
            How have you interacted with MATRR in the past?
        </li>
        <li>
            (Optional) How do you envision using MATRR as a data resource?
        </li>
    </ul>
    Presentations are not intended to convey research discoveries or research agenda outside the context of data integration.<br>
    <br>
{% endblock %}
