{% extends "base.html" %}

{% block content %}
    <table class='common_center'>
        <tr>
            <th>Name</th>
            <th>Institution</th>
            <th>Role</th>
            <th>Hotel</th>
            <th>Reception</th>
            <th>Dinner</th>
            <th>Poster</th>
            <th>Lunch</th>
            <th>Diet Restrictions</th>
            <th>See Details</th>
        </tr>
        {% for dsm in dsms %}
            <tr>
                <td>{{ dsm.dsm_title }} {{ dsm.dsm_badge_name }}</td>
                <td>{{ dsm.dsm_inst_name }}</td>
                <td>{{ dsm.dsm_role }}</td>
                <td {% if dsm.dsm_hotel %}bgcolor="lightgreen"{% endif %}>{% if dsm.dsm_hotel %}Yes{% else %}Na{% endif %}</td>
                <td {% if dsm.dsm_reception %}bgcolor="lightgreen"{% endif %}>{% if dsm.dsm_reception %}Yes{% else %}Na{% endif %}</td>
                <td {% if dsm.dsm_dinner %}bgcolor="lightgreen"{% endif %}>{% if dsm.dsm_dinner %}Yes{% else %}Na{% endif %}</td>
                <td {% if dsm.dsm_poster %}bgcolor="lightgreen"{% endif %}>{% if dsm.dsm_poster %}Yes{% else %}Na{% endif %}</td>
                <td {% if dsm.dsm_lunch %}bgcolor="lightgreen"{% endif %}>{% if dsm.dsm_lunch %}Yes{% else %}Na{% endif %}</td>
                <td {% if dsm.dsm_diet %}bgcolor="lightgreen"{% endif %}>{% if dsm.dsm_diet %}Probably{% else %}Probably not{% endif %}</td>
                <td><a href='{% url 'symposium-roster-detail' dsm.pk %}'>Click here</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
