{% extends "tools/tools_base.html" %}

{% block content %}
    <center>
        <h2>
            You are invited to the first Symposium on Data Integration from the Monkey Model of Alcohol Drinking<br>
        </h2>
        <h3>
            September 7th – 9th 2014<br>
            Portland, OR<br>
        </h3>
    </center>

    <div class="headline">Meeting Information</div>
    <div class="mini-headline">Agenda:</div>
    The full Agenda can be found <a href="{{ STATIC_URL }}pdf/MATRR_Symposium_Agenda.pdf">here</a>. This will be updated as speakers are confirmed.
    The symposium will be held at 2 sites. The base location will be the Hotel Lucia in downtown Portland, Oregon and the first full day of
    scientific sessions will be held at the Oregon National Primate Research Center (ONPRC).<br>
    <br>
    <div class="mini-headline">Registration:</div>
    All attendees are required to complete the registration form. Registration closes on Friday August 1st.  Participants are charged a registration
    fee of $50 for Faculty and $25 for students. This must be paid via check. See registration form  for further details.<br>
    <br>
    <div class="mini-headline">Poster Session:</div>
    The poster session will be held on Monday September 8th and provides an informal venue for researchers and graduate students to present work of
    interest to the attending community. This may include recent unpublished or published work, prospective studies on analytics, or potential
    future MATRR collaborations. Each invited attendee is strongly encouraged to support at least one poster.<br>
    <br>
    <div class="headline">Travel Information</div>
    <div class="mini-headline">Travelling from out of town:</div>
    If you are coming from out of town the local airport is Portland International Airport. A block of rooms has been reserved at our host hotel,
    the Hotel Lucia, in downtown Portland. If you will need a room please indicate as such on your registration form . All rooms will be booked by
    Louise Sacha – there is no need to contact the hotel directly. The Hotel Lucia is located in downtown Portland (400 SW Broadway, Portland, OR 97205).
    This site is approximately a 30-60 minute drive (depending on traffic), or 45-minute light rail ride from the Portland International Airport.
    All out-of-town guests will be housed in this hotel, and it will also be the site of our opening reception on Sunday September 7th as well as
    our meetings during the day on Tuesday September 9th. Guests staying at the Hotel Lucia will be transported by a prearranged shuttle to/from
    ONPRC on Monday September 8th.<br>
    <br>
    <div class="mini-headline">Local attendees:</div>
    Please make your own way to the symposium sites. Parking at Hotel Lucia may be limited and is not reserved for our group. Parking at the
    ONPRC is available and free of charge. ONPRC is a secure facility and controlled by a guarded gate. You will be asked to provide proof of ID in
    order to enter the facility.<br>
    <br>
    <div class="headline">Locations:</div>
    <div class="clearfix"></div>
    <div class="left">
        Hotel Lucia<br>
        400 SW Broadway<br>
        Portland, OR 97205<br>
        <a href="https://www.google.com/maps/place/400+SW+Broadway/@45.52112,-122.6783752,17z/data=!3m1!4b1!4m2!3m1!1s0x54950a0412be002b:0xccad0177011d60f4?hl=en">
            Directions
        </a>
    </div>
    <div class="right">
        Oregon National Primate Research Center<br>
        505 NW 185th Avenue<br>
        Beaverton, OR 97006<br>
        <a href="https://www.google.com/maps/place/505+NW+185th+Ave/@45.5241853,-122.875299,17z/data=!3m1!4b1!4m2!3m1!1s0x54950f0de015ec61:0xe60e4ed961f7c347?hl=en">
            Directions
        </a>
    </div>
    <div class="clearfix"></div>
    <br>
    <hr>
    <center>
        Questions can be directed to Louise Sacha at sachal@ohsu.edu<br>
        <a href="{% url 'symposium-registration' %}">
            <button class="blockLinkToolsButton">Register for symposium</button>
        </a>
    </center>
{% endblock %}
