{% extends 'base.html' %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-checked.js"></script>
{% endblock %}

{% block content %}
  <div class='headline'>
  {% block title %}Accepting {{ req_request.user.username }}'s request{% endblock %}
  </div>
<div>
<form action='./' method='post'>
  {% csrf_token %}
<table>
{{ form.as_table }}
</table>
<div class='headline'> Set tissues as unavailable</div>
  {% for tissue_request in req_request.get_requested_tissues %}
    {% for datum in tissue_request.get_data %}
      {% if not forloop.first %}
      {% endif %}
      {% if forloop.counter == 1 %}
        <div class="mini-headline">{{ datum.0 }}: {{ datum.1 }}</div>
        <div style="float:left; color: #4E4E4E">{% include 'matrr/review/item_availability.html'%}</div>
      {% else %}
        <div style="float: right; color: #4E4E4E;">{{ datum.0 }}: {{ datum.1 }}</div>
        <br>
      {% endif %}
    {% endfor %}
    <div class='clearfix'></div>
      <fieldset>
        <legend>
          <input type='checkbox' id='id_{{ tissue_request }}'
                 onclick='toggle_checked(this, "name_{{ tissue_request }}")'>
          <label for='id_{{ tissue_request }}'>Select All Monkeys</label>
        </legend>
        {% for monkey in tissue_request.monkeys.all %}
          <input type='checkbox' id='id_{{ tissue_request }}_{{ monkey }}' name='name_{{ tissue_request }}'
            onclick='check_toggler(document.getElementById("id_{{ tissue_request }}"), "name_{{ tissue_request }}")'/>
          <label for='id_{{ tissue_request }}_{{ monkey }}'>
            <a href='{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}'
               onClick='javascript:window.open("{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}");return false;'>
              {{ monkey.mky_real_id }}
            </a>
          </label>
        {% endfor %}
      </fieldset>
    
  {% endfor %}

  <input type='submit' name='submit' class='blockLinkCheckoutButton' value='Accept and Send Email'/>
  <input type='submit' name='submit' class='blockLinkDeleteButton' value='cancel'/>
</form>
</div>
{% endblock %}