{% load tissue_filters %}

<a onclick="javascript:toggle_visibility('availability_{{ tissue_request.get_html_label }}');">Check availability</a>
<table id=full>
	<tbody id='availability_{{ tissue_request.get_html_label }}' class='hidden'>
	<tr class='bordered-cell-row'>
		<th>Monkey</th>
		{% if perms.matrr.monkey_view_confidential %}
			<th>Name</th>
			{% if spacing %}
				<td class='spacing'></td>{% endif %}
		{% endif %}
		{% if spacing %}
			<th class='spacing'></th>{% endif %}
			<th>Sex</th>
		{% if spacing %}
			<th class='spacing'></th>{% endif %}
			<th>Weight</th>
		{% if spacing %}
			<th class='spacing'></th>{% endif %}
		<th>Status</th>
		{% if spacing %}
			<th class='spacing'></th>{% endif %}
		<th>Request collisions</th>
		<!-- <th>Accepted Requests</th>
  {% if spacing %}<th class='spacing'></th>{% endif %}
  <th>Pending Requests</th></tr> -->
		{% for monkey in tissue_request.monkeys.all %}
			<tr>
				<td>
					<a href="{% url monkey-detail monkey.cohort.coh_cohort_id monkey.mky_id %}"
					   target="_blank">
						{{ monkey.mky_id }}
						<img src="{{ STATIC_URL }}images/arrow_popup.png" width="8" height="8" style='vertical-align: text-top'
							 alt='external link'/>
					</a>
				</td>
				{% if spacing %}
					<td class='spacing'></td>{% endif %}
				{% if perms.matrr.monkey_view_confidential %}
					<td>{{ monkey.mky_name }}</td>
					{% if spacing %}
						<td class='spacing'></td>{% endif %}
				{% endif %}
				{% if spacing %}
					<td class='spacing'></td>{% endif %}
				<td>{{ monkey.mky_gender }}</td>
				{% if spacing %}
					<td class='spacing'></td>{% endif %}
				<td>{{ monkey.mky_weight }}</td>
				{% if tissue_request.get_tissue %}
					{% with verification=tissue_request|get_verification:monkey %}
						<td>
							{% if verification == "Sufficient" %}<font color=green>{{ verification }}</font>{% else %}
							{% if verification == "Insufficient" %}<font color=orange>{{ verification }}</font>{% else %}
							{% if verification == "Unverified" %}<font color=red>{{ verification }}</font>
							{% endif %}{% endif %}{% endif %}
						</td>
						{% if spacing %}
							<td class='spacing'></td>{% endif %}
					{% endwith %}
					<td>
						{% load review_tags %}
						{% colliding_submitted_requests req_request monkey %}
					</td>
					<!--    <td>
        {{ tissue_request.get_tissue|accepted_requests:monkey }}
      </td>
      {% if spacing %}<td class='spacing'></td>{% endif %}
      <td>
        {{ tissue_request.get_tissue|pending_requests:monkey }}
      </td> -->
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
