{% load tissue_filters %}

<a onclick="javascript:toggle_visibility('availability_{{ tissue_request.get_tissue }}_{{ tissue_request.get_id }}');">Check Availability</a>
<table>
<tbody id='availability_{{ tissue_request.get_tissue }}_{{ tissue_request.get_id }}' class='hidden'>
<tr class='bordered-cell-row'><th>Monkey</th>
  {% if spacing %}<th class='spacing'></th>{% endif %}
  <th>Status</th>
  {% if spacing %}<th class='spacing'></th>{% endif %}
  <th>Accepted Requests</th>
  {% if spacing %}<th class='spacing'></th>{% endif %}
  <th>Pending Requests</th></tr>
{% for monkey in tissue_request.monkeys.all %}
  <tr>
    <td>
      <a href="{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}/"
           onclick='javascript:window.open("{{ SITE_ROOT }}/monkeys/{{ monkey.mky_real_id }}/");return false;'>
        {{ monkey.mky_real_id }}
        <img src="{{ STATIC_URL }}images/arrow_popup.png" width=8 height=8 style='vertical-align: text-top'>
      </a>
    </td>
    {% if spacing %}<td class='spacing'></td>{% endif %}
    {% if user_is_member_of_superuser or user_is_member_of_tech_user or user_is_member_of_committee %}
      <td>{{  monkey.mky_name }}</td>
      {% if spacing %}<td class='spacing'></td>{% endif %}
    {% endif %}
    {% if tissue_request.get_tissue %}
      {% with availability=tissue_request.get_tissue|monkey_availability:monkey %}
        <td>
          {% if availability == Availability.Available %}Available{% else %}
          {% if availability == Availability.Unavailable %}Unavailable{% else %}
          {% if availability == Availability.In_Stock %}In Stock
          {% endif %}{% endif %}{% endif %}
        </td>
        {% if spacing %}<td class='spacing'></td>{% endif %}
      {% endwith %}
      <td>
        {{ tissue_request.get_tissue|accepted_requests:monkey }}
      </td>
      {% if spacing %}<td class='spacing'></td>{% endif %}
      <td>
        {{ tissue_request.get_tissue|pending_requests:monkey }}
      </td>
    {% endif %}
  </tr>
{% endfor %}
</tbody>
</table>