{% extends 'base.html' %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-checked.js"></script>
{% endblock %}

{% block content %}
  <div class='headline'>
  {% block title %}Accepting {{ req_request.user.username }}'s request{% endblock %}
  </div>
<div>
<form action='' method='post'>
  {% csrf_token %}
{% if form.non_field_errors %}
  <div class="error">{{ form.non_field_errors }}</div>
{% endif %}
{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}
<table>
  {% for field in form.visible_fields %}
    {% if field.name == 'body' or field.name == "subject" %}
      <tr><th>{{ field.label }}</th><td>{{ field }}</td></tr>
      {% endif %}
  {% endfor %}
</table>
<div class='headline'> Set tissues as unavailable</div>
  {% for field in form.visible_fields %}
    {% if field.name != 'body' and field.name != "subject" %}
      {% for tissue_request in req_request.get_requested_tissues %}
      {% ifequal tissue_request|stringformat:"s" field.name %}
        {% for datum in tissue_request.get_data %}
          {% if forloop.first %}
            <div class="mini-headline">{{ datum.0 }}: {{ datum.1 }}</div>
            <div style="float:left; color: #4E4E4E">{% include 'matrr/review/item_availability.html'%}</div>
          {% else %}
            <div style="float: right; color: #4E4E4E;">{{ datum.0 }}: {{ datum.1 }}</div>
            <br>
          {% endif %}
        {% endfor %}
        <div class='clearfix'>
          {% if tissue_request.get_accepted %}
            This tissue request will be accepted.
          {% else %}
            This tissue request will be rejected.
          {% endif %}
        </div>
        <div>{{ field }}</div>
      {% endifequal %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  <input type='submit' name='submit' class='blockLinkCheckoutButton' value='Finalize and Send Email'/>
  <input type='submit' name='submit' class='blockLinkDeleteButton' value='cancel'/>
</form>
</div>
{% endblock %}