{% extends 'base.html' %}

{% block content %}
	<div class='large-headline'>
		{% block title %}Review history{% endblock %}
	</div>
	{% if req_requests.count == 0 %}
		<div class="messages">
			<div class="info">
				There are no old reviews.
			</div>
		</div>
		{% else %}

		<table class='common'>
			<tr>
				<th>Cohort</th>
				<th>User</th>
				<th>Date Modified</th>
				{% for reviewer in reviewers %}
					<th>{{ reviewer }}</th>
				{% endfor %}
			</tr>
			{% for req_request in req_requests.object_list %}
				<tr>
					<td nowrap>{{ req_request.cohort.coh_cohort_name }}</td>
					<td><a href='{% url account-reviewer-view req_request.user.id %}'>
						{% if req_request.user|lower == 'dummy_user_for_past_requests' %}Generic User
							{% else %}{{ req_request.user }}
						{% endif %}</a></td>
					<td nowrap>{{ req_request.req_modified_date|date:"m/d/Y, g:i a" }}</td>

					{% for item in req_request.complete %}
						{% if item == "Rejected" %}
							<td style="color: red" align="center">{{ item }}</td>
						{% else %}
							{% if item == "Accepted" or item == "Partially Accepted" %}
							<td style="color: green" align="center">{{ item }}</td>

							{% else %}
								{% if item == "Shipped" %}
									<td style="color: orange" align="center">{{ item }}</td>
								{% else %}
							
							<td align="center">{{ item }}</td>
							    {% endif %}
							{% endif %}
						{% endif %}

					{% endfor %}

					<td><a href='{% url review-overview req_request.req_request_id %}' class='blockLinkButton'>Overview</a></td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	    <div class="pagination">
        <span class="step-links">
            {% if req_requests.has_previous %}
                <a href="?page={{ req_requests.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
      Page {{ req_requests.number }} of {{ req_requests.paginator.num_pages }}.
    </span>

            {% if req_requests.has_next %}
                <a href="?page={{ req_requests.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}