{% extends 'base.html' %}


{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}widgets/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
{% endblock %}

{% block content %}
<div class='large-headline'> 
{% block title %}Review{% endblock %}
</div>

<form action='./' method='post'>
{% csrf_token %}
<table>
  <tr>
    <th>Cohort:</th>
    <td>
      <a href='{{ req_request.cohort.get_url }}'>
        {{ req_request.cohort }}
      </a>
    </td>
  </tr>
  <tr><th>User:</th><td>{{ req_request.user }}</td></tr>
  <tr><th>Requested On:</th><td>{{ req_request.req_request_date }}</td></tr>
  <tr><th>Experimental Plan:</th><td><a href='/{{ MEDIA_URL }}/{{ req_request.req_experimental_plan }}'>{{ req_request.req_experimental_plan }}</a></td></tr>
  <tr><th>Project Title:</th><td>{{ req_request.req_project_title }}</td></tr>
  <tr><th>Reason:</th><td colspan='5'>{{ req_request.req_reason }}</td></tr>
  <tr><th>Referred By:</th><td>{{ req_request.req_referred_by }}</td></tr>
  <tr><th>Progress Agreement:</th><td>{{ req_request.req_progress_agreement }}</td></tr>
  {% if req_request.req_notes %}
    <tr><th>Extra Notes:</th><td colspan='4'>{{ req_request.req_notes }}</td></tr>
  {% endif %}
{{ form }}
</table>

<div style='display: none'>
{{ form.regions_formset.management_form }}
{{ form.peripherals_formset.management_form }}
{{ form.samples_formset.management_form }}
{{ form.custom_formset.management_form }}
  {% for tform in form.regions_formset %}
    {% for field in tform.hidden_fields %}
      {{ field }}
    {% endfor %}
  {% endfor %}
  {% for tform in form.peripherals_formset %}
    {% for field in tform.hidden_fields %}
      {{ field }}
    {% endfor %}
  {% endfor %}
  {% for tform in form.samples_formset %}
    {% for field in tform.hidden_fields %}
      {{ field }}
    {% endfor %}
  {% endfor %}
{% for tform in form.custom_formset %}
    {% for field in tform.hidden_fields %}
      {{ field }}
    {% endfor %}
  {% endfor %}
</div>

<table class='review_table'>
  {% for tform in form.regions_formset %}
    {% include 'matrr/review/review_form_item.html' %}
  {% endfor %}
  {% for tform in form.peripherals_formset %}
    {% include 'matrr/review/review_form_item.html' %}
  {% endfor %}
  {% for tform in form.samples_formset %}
    {% include 'matrr/review/review_form_item.html' %}
  {% endfor %}
  {% for tform in form.custom_formset %}
    {% include 'matrr/review/review_form_item.html' %}
  {% endfor %}
</table>
<div>
{% if review.is_finished %}
<button type='submit' name='submit' value='update'>Update</button>
{% else %}
<button type='submit' name='submit' value='submit'>Submit</button>
{% endif %}
<button type='submit' name='submit' value='cancel'>Cancel</button>
</div>
</form>
{% endblock %}
