{% extends 'base.html' %}
{% block content %}
	<div class='large-headline'>
		{% block title %}Processing {{ req.user.username }}'s request{% endblock %} for {{ req.cohort.coh_cohort_name }}
	</div>
	
	<br/>
	<div class="headline">
	Possibly modify the tissue estimated costs
	</div>
	<br/>
	<form action='' method='post'>
		{% csrf_token %}
		{{ forms.management_form }}
		{% for form in forms %}
		
		{% for datum in form.instance.get_data %}
			{% if forloop.first %}
			<div class="mini-headline">{{ datum.0 }}: {{ datum.1 }}</div>
			{% else %}
				{% if not forloop.last %}
                    <div  style="text-align: left; color: #4E4E4E; clear:left; width:25%">{{ datum.0 }} : {{ datum.1 }}</div>
				{% endif %}
			{% endif %}
		{% endfor %}
		<div style="text-align: left; color: #4E4E4E; clear:left; width:25%">Monkeys : {% for monkey in form.instance.accepted_monkeys.all %}{{ monkey.mky_id }}{% if not forloop.last %}, {% endif%}{% endfor%}</div>
		
		<div style="text-align: left; color: #4E4E4E; clear:left; width:25%">{{ form.rtt_estimated_cost.label }} : {{ form.rtt_estimated_cost }}</div>
		{{ form.rtt_tissue_request_id }}
		<br/>
		{% endfor %}
		<input type='submit' name='submit' class='blockLinkCheckoutButton' value='Accept prices'/>
		<a href="{% url review-overview req.req_request_id %}" class="blockLinkButton">Back to overview</a>

	</form>
	
{% endblock %}	