{% extends 'base.html' %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
{% endblock %}

{% block content %}
<div class='large-headline'> 
{% block title %}Overview: {{ req_request.user.username }}'s request for {{req_request.cohort.coh_cohort_name}}{% endblock %}
</div>
<div style='margin-top: 10px;'>

<div class='div-table'>
    <div>
      <div>Cohort:</div>
      <div><a href='{{ req_request.cohort.get_url }}'>{{ req_request.cohort }}</a></div>
      <div>Requesting User:</div>
      <div><a href='{{ SITE_ROOT }}/account/{{ req_request.user.id }}'>{{ req_request.user }}</a></div>
    </div>
    <div>
      <div>Requested On:</div><div>{{ req_request.req_request_date }}</div>
      <div>Referred By:</div><div>{{ req_request.req_referred_by }}</div>
    </div>
    <div>
      <div>Progress Agreement:</div><div>{{ req_request.req_progress_agreement }}</div>
      <div>Experimental Plan:</div>
      <div>
        {% if req_request.req_experimental_plan %}
          <a href='/{{ MEDIA_URL }}/{{ req_request.req_experimental_plan }}'>{{ req_request.req_experimental_plan }}</a>
        {% else %}
          None
        {% endif %}
      </div>
    </div>
</div>

<div class='div-table'>
    <div>
      <div>Project Title:</div><div>{{ req_request.req_project_title }}</div>
    </div>
    <div>
      <div>Motivation:</div><div>{{ req_request.req_reason }}</div>
    </div>
    <div>
      <div>Additional Notes:</div>
      <div>
        {% if req_request.req_notes %}{{ req_request.req_notes }}{% else %}None{% endif %}
      </div>
    </div>
</div>

<br>
  {% for tissue_request in region_requests %}
    {% include 'matrr/review/review_overview_item.html' %}
  {% endfor %}
  {% for tissue_request in tissue_requests %}
    {% include 'matrr/review/review_overview_item.html' %}
  {% endfor %}
  {% for tissue_request in sample_requests %}
    {% include 'matrr/review/review_overview_item.html' %}
  {% endfor %}
  {% for tissue_request in custom_requests %}
    {% include 'matrr/review/review_overview_item.html' %}
  {% endfor %}
  
<table>
  {% if req_request.req_notes != None and req_request.req_notes != '' %}
    <tr><th class='tissue_info'>Request Notes:</th><td class='tissue_info' colspan='9'>{{ req_request.req_notes }}</td></tr>
  {% endif %}
  <tr><th>Reviewer</th><th colspan='10'>Reviewer's Notes</th></tr>
  {% for review in reviews %}
    {% if review.rvs_notes != None and review.rvs_notes != '' %}
      <tr>
        <th>{{ review.user }}</th>
        <td colspan='9'>{{ review.rvs_notes }}</td>
      </tr>
    {% endif %}
  {% endfor %}

</table>

<div>
{% if req_request.request_status.rqs_status_name == 'Submitted' %}
  <a href='accept/' class='greenLinkButton linkButton'>Accept</a>
  <a href='reject/' class='redLinkButton linkButton'>Reject</a>
{% endif %}
<a href='/reviews_overviews/' class='blockLinkButton'>Back</a>
</div>
</div>
{% endblock %}