{% extends 'base.html' %}

{% block content %}
<div class='large-headline'> 
{% block title %}Pending Requests{% endblock %}
</div>
<br>

<table class='common'>
  <tr>
    <th>Cohort</th>
    <th>User</th> 
    <th>Date Submitted</th>
    {% for reviewer in reviewers %}
      <th>{{ reviewer }}</th>
      {% endfor %}
  </tr>
{% for req_request in req_requests %}
  <tr>
    <td>{{ req_request.cohort.coh_cohort_name }}</td>
    <td><a href='{{ SITE_ROOT }}/account/{{ req_request.user.id }}'>{{ req_request.user }}</a></td>
    <td>{{ req_request.req_request_date}}</td>

{% for item in req_request.complete %}
{% if item == "pending" %}
  <td style="color: red" align="center">{{ item }}</td>
  {% else %}
  <td style="color: green" align="center">{{ item }}</td>   
  {% endif %}

{% endfor %}

    <td><a href='/reviews_overviews/{{ req_request.req_request_id }}/' class='blockLinkButton'>Overview</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}