{% extends 'base.html' %}


{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/toggle-visibility.js"></script>
{% endblock %}

{% block content %}
	<div class='large-headline'>
		{% block title %}Review{% endblock %}
	</div>

	<form action='' method='post'>
		{% csrf_token %}
		{% include 'matrr/review/__request_detail.html' %}
        <hr>
		<div style='display: none'>
			{{ form.tissue_request_formset.management_form }}
			{% for tform in form.tissue_request_formset %}
				{% for field in tform.hidden_fields %}
					{{ field }}
				{% endfor %}
			{% endfor %}
		</div>

		{% for tform in form.tissue_request_formset %}
			{% include 'matrr/review/review_form_item.html' %}
		{% endfor %}
		<div>
			{% if review.is_finished %}
				<button type='submit' name='submit' value='update'>Update</button>
			{% else %}
				<button type='submit' name='submit' value='submit'>Submit</button>
			{% endif %}
			<button type='submit' name='submit' value='cancel'>Cancel</button>
		</div>
	</form>
{% endblock %}
