<div style='width: {{ bigWidth|add:"60" }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
</div>
<div>
	<center>
		<img src="{{ image.image.url }}" width="{{ bigWidth }}px"><br>	
	</center>
</div>
<div style='width: {{ bigWidth }}px; margin:auto; margin: 0px 40px 40px 40px'>
		<b>Total Ethanol Intake during 22hr Phase for  {{ image.cohort }}.</b>  This bar chart represent the total ethanol consumption for each monkey in of the cohort of interest
		during the 22 hour free access phase of the experiment, measured in ml of 4% ethanol.
</div>