<div style='width: {{ bigWidth|add:"60" }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
</div>
<div>
	<center>
		<img src="{{ image.image.url }}" width="{{ bigWidth }}px"><br>	
	</center>
</div>
<div style='width: {{ bigWidth }}px; margin:auto; margin: 0px 40px 40px 40px'>
		<b>Detailed Ethanol Intake for {{ image.mtd.monkey.mky_id }}.</b> Each bar indicates total ethanol intake during each bout and the length of each bout (in seconds).  The scatter plot within each bar represent the time and volume of each drink within that bout.
</div>
