<div style='width: {{ bigWidth }}px; margin:auto; padding: 20px'>
	<div style='height: {{ image.image.height }}; width: {{ image.image.width }}'>
		<center><img src="{{ image.image.url }}"></center><br>
		<b>Average Weight measurements for Monkey {{ image.monkey.mky_id }}.</b>
		The green line represents the average for this individual monkey, grouped by month.
		Green error bars are set to one standard deviation from the mean. The underlying box plot represents the monthly average,
		standard deviation and outlying data points of the comparison cohort.
	</div>
</div>