<div style='width: {{ bigWidth }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
	<div style='height: {{ image.image.height }}; width: {{ image.image.width }}'>
		<img src="{{ image.image.url }}"><br>
		<b>Total Monkey Ethanol Intake during 22hr Phase for  {{ image.monkey.pk }}.</b>  The highlighted bars represent the total ethanol consumption of the monkey of interest
		during the 22 hour free access phase of the experiment, measured in ml of 4% ethanol.  The remaining bars represent the same data for the other monkeys
		in the {{ image.monkey.cohort.coh_cohort_name }} cohort.
	</div>
</div>