<div style='width: {{ bigWidth|add:"60" }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
</div>
<div>
	<center>
		<img src="{{ image.image.url }}"><br>
	</center>
</div>
<div style='width: {{ bigWidth }}px; margin:auto; margin: 0px 40px 40px 40px'>
		<b>Pellet Intake for Monkey {{ image.monkey.mky_id }}.</b> The green line represents the pellet intake for this individual monkey on the indicated date. The underlying box plot represents the pellet intake amounts of the comparison cohort for that date.
</div>