<div style='width: {{ bigWidth|add:"60" }}px; margin:auto; padding: 20px'>
	<center>{{ image.title }}</center>
</div>
<div>
	<center>
		<img src="{{ image.image.url }}"><br>
	</center>
</div>
<div style='width: {{ bigWidth }}px; margin:auto; margin: 0px 40px 40px 40px'>
		<b>Average Ethanol Intake for   {{ image.monkey.mky_id }}.</b> The green line represents the average ethanol intake for this individual monkey, grouped by month. Green error bars are set to one standard deviation from the mean. The underlying box plot represents the monthly average, standard deviation and outlying data points of the comparison cohort.
</div>