{% extends "base.html" %}

{% block content %}
	<div class=large-headline>Cohort Hormone Tools</div>
	<br>
	<div class=clearfix></div>
	<form action='' method='post'>
		{% csrf_token %}
		<div class=headline>{{ subject_select_form.subject.label }}</div>
		<div class=small>{{ subject_select_form.subject.help_text }}</div>
		{{ subject_select_form.subject }}
		<br><br>
		<div class=headline>{{ hormone_form.scaled.label }}</div>
		<div class=small>{{ hormone_form.scaled.help_text }}</div>
		{{ hormone_form.scaled }} {{ hormone_form.scaled.label }}
		<br><br>
		<div class=headline>{{ hormone_form.hormones.label }}</div>
		<div class=small>{{ hormone_form.hormones.help_text }}</div>
		{{ hormone_form.hormones }}
		<br>
		<button type='submit' name='submit' class="blockLinkCheckoutButton">Submit</button>
	</form>



{% endblock %}
