{% extends "base.html" %}

{% block content %}
	<div class='large-headline'>
		{% block title %}My Orders{% endblock %}
	</div>



	{% if revised %}
		<br/>
		<div class='mini-headline'>
			Revised Orders
		</div>
		<table class="common_center" cellpadding='4' cellspacing='2'>
			<tr>
				<th>Cohort</th>
				<th>Date Placed</th>
				<th>Status</th>
				<th>Date Shipped</th>
			</tr>

			{% for order in revised %}
				<tr>
					<td>{{ order.cohort }}</td>
					<td>{{ order.req_request_date|date:"m/d/Y, g:i a" }}</td>
					<td>{{ order.get_req_status_display }}</td>
					<td>Revise Order has not shipped.</td>
					<td><a href='{% url 'order-edit' order.req_request_id %}'>Edit</a></td>
				</tr>
			{% endfor %}
		</table>
		<br/>
		<div class='mini-headline'>
			Orders
		</div>
	{% endif %}



	{% if order_list.object_list|length > 0 %}
		<table class="common_center" cellpadding='4' cellspacing='2' width="100%">
			<tr>
				<th>Cohort</th>
				<th>Date Placed</th>
				<th>Status</th>
				<th>Date Shipped</th>
				<th>Request Details</th>
				<th>Duplicate Request</th>
				<th>Revise Request</th>
			</tr>

			{% for order in order_list.object_list %}
				<tr>
					<td>{{ order.cohort }}</td>
					<td>{{ order.req_request_date|date:"m/d/Y" }}</td>
					<td id="{{ order.req_status|lower }}">
						{{ order.get_req_status_display }}</td>

					<td>{% if order.shipment.shp_shipment_date %}{{ order.shipment.shp_shipment_date|date:"m/d/Y" }}{% else %}Order has not shipped.{% endif %}</td>
					<td><a href='{% url 'order-detail' order.req_request_id %}'>Details</a></td>
					{% if order.can_be_duplicated %}
						<td><a href='{% url 'order-duplicate' order.req_request_id %}'>Duplicate</a></td>
					{% else %}
						<td></td>
					{% endif %}
					{% if order.can_be_revised %}
						<td><a href='{% url 'order-revise' order.req_request_id %}'>Revise</a></td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="messages">
			<div class="info">
				You do not have any pending orders.
			</div>
		</div>
	{% endif %}

	{% if order_list.object_list|length > 0 %}
		<center>
			{% load inclusion_tags %}
			{% pagination order_list %}
		</center>{% endif %}


{% endblock %}
